html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
.logo {
    width: 180px;
    height: 180px;
    margin-top: 37px;
    margin-left: 21px;
}
.everit-header {
    background-color: rgb(90, 183, 14);
    background-image: -webkit-linear-gradient(top, #4FA10D 0, rgb(90, 183, 14) 100%);
    background-image: linear-gradient(to bottom, #4FA10D 0, rgb(90, 183, 14) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#4FA10D', endColorstr='#5AB70E', GradientType=0);
}
.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav>li>a {
    color: rgb(90, 183, 14);
    font-weight: 500;
}
.bs-docs-nav .navbar-nav>li>a:hover,
.bs-docs-nav .navbar-nav>.active>a,
.bs-docs-nav .navbar-nav>.active>a:hover {
    color: rgb(90, 183, 14);
    background-color: #f9f9f9;
}
.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: rgb(90, 183, 14);
}
.bs-docs-featurette {
    border-bottom: none;
}
.bs-docs-featurette-title {
    margin-bottom: 30px;
}
.bs-docs-featurette>.container>h2 {
    margin-bottom: 25px;
}
.container>ul {
    list-style-type: none;
    padding: 0;
}
.bs-docs-featurette>h2 {
    margin-bottom: 25px;
}
.bs-docs-featurette>h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    color: #555;
}
.bs-docs-featurette>h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #555;
}
.bs-docs-featurette>ol {
    margin-left: 50px;
    margin-right: 50px;
}
.bs-docs-featurette>ol>li {
    text-align: justify;
}
.bs-docs-featurette>ol>li>p {
    color: #555;
}
.bs-docs-featurette>ul {
    position: relative;
    left: 5%;
    width: 95%;
    align-content: center;
}
.bs-docs-featurette>ul>li {
    text-align: justify;
    padding-bottom: 5px;
}
.bs-docs-featurette>ul>li>ul>li {
    text-align: justify;
    padding-bottom: 2px;
    padding-top: 2px;
}
.bs-docs-featurette>ul>li>p {
    color: #555;
}
.bs-docs-booticon-outline {
    background-color: transparent;
    border: 1px solid #aad99d;
    border-radius: 50%;
}
.btn-outline {
    color: rgb(90, 183, 14);
    background-color: transparent;
    border-color: rgb(90, 183, 14);
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #fff;
    background-color: rgb(90, 183, 14);
    border-color: rgb(90, 183, 14);
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: rgb(90, 183, 14);
}
a {
    color: rgb(90, 183, 14);
    text-decoration: none;
}
a:hover,
a:focus {
    color: rgb(90, 183, 14);
    text-decoration: underline;
}
#affix-nav {
    width: 100%;
}
.everit-affix {
    margin-left: 30px;
    margin-top: 60px;
    min-width: 125px;
    width: 300px;
}
.affix-top {
    position: static;
    margin-top: 60px;
    width: auto;
}
.affix {
    top: 0px;
    position: static;
    width: auto;
}
.affix-bottom {
    position: static;
    width: auto;
}
@media (min-width: 979px) {
    .affix {
        margin-left: 30px;
        margin-top: 60px;
        top: 0px;
        position: fixed;
        width: auto;
    }
    .affix-bottom {
        position: absolute;
        width: auto;
    }
}
@media (min-width: 1276px) {
    .affix-top {
        min-width: 200px;
    }
    .affix {
        min-width: 200px;
        position: fixed;
    }
}
@media (min-width: 1500px) {
    .affix-top {
        position: static;
        margin-top: 60px;
        min-width: 300px;
        width: auto;
    }
    .affix {
        margin-left: 30px;
        top: 0px;
        position: fixed;
        min-width: 300px;
        width: auto;
    }
}
#affix-nav .nav .nav {
    display: none;
}
#affix-nav .nav>.active>.nav {
    display: block;
    margin-left: 10px;
}
.featurette-divider {
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 0;
}
.cookbook {
    text-align: justify;
}
.img-responsive {
    margin-bottom: 25px;
}
#affix-nav>.nav>li>a {
    padding: 8px 13px;
}
#affix-nav>.nav>li>ul>li>a {
    padding: 8px 13px;
}