#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<head>
  <title>Timetracker Global Settings</title>
</head>
<body>
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResourcesForContext("org.everit.jira.timetracker.plugin.admin-settings-resources")

#if($currentCalendar.useISO8601 == true)
        #set ($firstDay = 1)
    #else
        #set ($firstDay = 0)
    #end
    
<script type="text/javascript">
  window.everit = window.everit || {};
  everit.jttp = everit.jttp || {};
  everit.jttp.admin = everit.jttp.admin || {};
  
	(function(jttp, jQuery) {
		jttp.options = jQuery.extend( 
			{},
			jttp.options,
			{   
				firstDay : ${firstDay},
				dateFormat: "${dateFormat}",
				excludeDates: ${excludeDates},
				includeDates: ${includeDates},
				collectorIssueKey: "$collectorIssueKey",
				duplicateDateMessage: "${i18n.getText("plugin.setting.date.exitst.include.exclude")}"
			}
		);
	})(everit.jttp.admin, AJS.$);
   
  </script>
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-image">
         <span class="aui-avatar aui-avatar-large">
           <span class="aui-avatar-inner">
             <a href="http://www.everit.biz/solutions-for-atlassian-jira/index_en" target="_blank">
               <div class="everit_logo" alt="Everit TimeTracker logo"></div>
             </a>
           </span>
         </span>
      </div>
      <div class="aui-page-header-main">
        <h1>Timetracker Global Settings</h1>
      </div>
    </div>
  </header>
  <form name="adminSettingForm"  method="post" action="TimetrackerAdminSettingsWebAction!default.jspa" class="aui rightMargin"  onsubmit=" return everit.jttp.admin.beforeSubmit();">
  <input hidden="hidden" name="action" value="doExecute"/>
    #if(!$message.isEmpty())
    <div id="error_message" class="aui-message aui-message-error">
      $i18n.getText($message) 
    </div>
    #end
    <div id="error_messageJS" class="aui-message aui-message-error" style="display:none" ></div>
    <div class="field-group">
      <label for="issueSelect_collector">$i18n.getText("plugin.setting.nonestimated.issues")</label>
      <div style="padding-top: 5px;">
        <input id="nonEstAll" type="radio" onclick="everit.jttp.admin.handleNonEstClick(this);" name="nonEstSelect" value="nonEstAll" #if($nonEstSelect == "nonEstAll") checked #end/>
        $i18n.getText("plugin.settings.nonestimated.issues.all")
        <input id="nonEstNone" type="radio" onclick="everit.jttp.admin.handleNonEstClick(this);" name="nonEstSelect" value="nonEstNone" #if($nonEstSelect == "nonEstNone") checked #end/>
        $i18n.getText("plugin.settings.nonestimated.issues.none")
        <input id="nonEstSelected" type="radio" onclick="everit.jttp.admin.handleNonEstClick(this);" name="nonEstSelect" value="nonEstSelected" #if($nonEstSelect == "nonEstSelected") checked #end/>
        $i18n.getText("plugin.settings.nonestimated.issues.selected")
      </div>
      <div id="issueSelect_collector_container" #if($collectorIssueKey==".* " || $collectorIssueKey=="") style="display: none;" #end >
      <select class="hidden"
        multiple="none" 
        name="issueSelect_collector" 
        id="issueSelect_collector" 
        data-popup-link-message="" 
        data-popup-width="620" 
        data-popup-height="500" 
        data-remove-on-un-select="true" 
        data-ajax-options.query="true" 
        data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker" 
        data-ajax-options.data.query="-" 
        data-ajax-options.data.current-issue-key=""
        data-ajax-options.data.show-sub-tasks="true" 
        data-ajax-options.data.show-sub-task-parent="true"
      #if (${action.currentJQL})
        data-ajax-options.data.current_jql=${action.currentJQL}
      #end
        >
      </select> 
      <script>
        var ip = new AJS.IssuePicker({
          element: AJS.$("#issueSelect_collector"),
          userEnteredOptionsMsg: AJS.params.enterIssueKey,
          uppercaseUserEnteredOnSelect: true,
          singleSelectOnly: true,
          currentProjectId: $projectsId,
        });
        //Set the issues key all of them  
        #if($collectorIssueKey!=".* " && $collectorIssueKey!="")
          AJS.$("#issueSelect_collector-textarea").append("$collectorIssueKey");
        #end
        AJS.$('.issue-picker-popup').attr("style","margin-bottom: 15px;");
        ip.handleFreeInput();
      </script>
      </div>
      <div class="description">$i18n.getText("plugin.setting.nonestimated.issues.help")</div>
    </div>
    
    <div class="field-group">
      <label for="issueSelect">$i18n.getText("plugin.setting.non.working.issues")</label>
      <select class="hidden"
        multiple="none" 
        name="issueSelect" 
        id="issueSelect" 
        data-popup-link-message="" 
        data-popup-height="500" 
        data-remove-on-un-select="true" 
        data-ajax-options.query="true" 
        data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker" 
        data-ajax-options.data.query="-" 
        data-ajax-options.data.current-issue-key=""
        data-ajax-options.data.show-sub-tasks="true" 
        data-ajax-options.data.show-sub-task-parent="true"
      #if (${action.currentJQL})
        data-ajax-options.data.current_jql=${action.currentJQL}
      #end
        >
      </select> 
      <script>
        var ip = new AJS.IssuePicker({
          element: AJS.$("#issueSelect"),
          userEnteredOptionsMsg: AJS.params.enterIssueKey,
          uppercaseUserEnteredOnSelect: true,
          singleSelectOnly: true,
          currentProjectId: $projectsId,
        });
        //Set the issues key all of them  
        AJS.$("#issueSelect-textarea").append("$issueKey");
        AJS.$('.issue-picker-popup').attr("style","margin-bottom: 15px;");
        ip.handleFreeInput();
      </script>
      <div class="description">$i18n.getText("plugin.setting.non.working.issues.help")</div>
    </div>
    
    <div class="field-group">
      <label>$i18n.getText("plugin.setting.working.day")</label>
      <div class="description">$i18n.getText("plugin.setting.working.day.help")</div>
    </div>
    
    <div class="field-group">
      <label for="excludedates">$i18n.getText("plugin.setting.exclude.dates")</label>
      <div id="messageExclude" class="red-text"></div>
      <select id="excludedatesHiddenSelect" name="excludedates" style="display: none" multiple></select>
      <div id="excludeDatesDiv" class="jttpDatePickerCollector"></div>
      <div class="from-date inline-calendar">
       <input id="excludeDate" name="excludeDate" class="text medium-field datepicker-input"  readonly/>
        <a href="#" title="Select a date">
         <span id="excludedate_trigger_from" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
        </a>
       </div>
       <input id="addexcludeDate" name="addexcludeDate" value="$i18n.getText('plugin.add')" type="button"
          class="aui-button aui-button-primary jttpDataPickerAddButton" onclick="everit.jttp.admin.addExcludeDate(this)" 
           data-jttp-error-msg="$i18n.getText('plugin.setting.date.already.exists')"/>
      <div class="description">$i18n.getText("plugin.setting.exclude.dates.help")</div>
    </div>
    
    <div class="field-group">
      <label for="includedates">$i18n.getText("plugin.setting.include.dates")</label>
      <div id="messageInclude" class="red-text"></div>
       <select id="includedatesHiddenSelect" name="includedates" style="display: none" multiple></select>
        <div id="includeDatesDiv" class="jttpDatePickerCollector"></div>
     <div class="from-date inline-calendar">
       <input id="includeDate" name="includeDate" class="text medium-field datepicker-input" readonly/>
        <a href="#" title="Select a date">
         <span id="includedate_trigger_from" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
        </a>
       </div>
       <input id="addincludeDate" name="addincludeDate"  value="$i18n.getText('plugin.add')" type="button"
        class="aui-button aui-button-primary jttpDataPickerAddButton" onclick="everit.jttp.admin.addIncludeDate(this)"
        data-jttp-error-msg="$i18n.getText('plugin.setting.date.already.exists')"/>
      <div class="description">$i18n.getText("plugin.setting.include.dates.help")</div>
    </div>
    
    <div class="field-group">
      <label>$i18n.getText("plugin.settings.timezone")</label>
      <div style="padding-top: 5px;">
        <input id="selectUserTimeZone" type="radio" name="selectTimeZone" value="selectUserTimeZone" #if($timeZoneType.value == "user") checked #end/>
        $i18n.getText("plugin.settings.timezone.radiobutton.user")
        <input id="selectSystemTimeZone" type="radio" name="selectTimeZone" value="selectSystemTimeZone" #if($timeZoneType.value == "system")  checked #end/>
        $i18n.getText("plugin.settings.timezone.radiobutton.system")
      </div>
      <div class="description">$i18n.getText("plugin.settings.timezone.help")</div>
    </div>
    
    <div class="field-group">
      <label>$i18n.getText("plugin.settings.analytics")</label>
      <div style="padding-top: 5px;">
        <input id="analyticsCheckEnable" type="radio" name="analyticsCheck" value="enable" #if($analyticsCheck) checked #end/>
        $i18n.getText("plugin.settings.analytics.radiobutton.enable")
        <input id="analyticsCheckDisable" type="radio" name="analyticsCheck" value="disable" #if(!$analyticsCheck) checked #end/>
        $i18n.getText("plugin.settings.analytics.radiobutton.disable")
      </div>
      <div id="reveal-text-content" class="description aui-expander-content">$i18n.getText("plugin.settings.analytics.help")
        <a id="reveal-text-trigger" data-replace-text="Show less" data-replace-selector=".reveal-text-trigger-text"
                   class="aui-expander-trigger aui-expander-reveal-text" aria-controls="reveal-text-content">
                    <span class="reveal-text-trigger-text">Show more</span>
        </a>
      </div>
    </div>
    
    <div class="buttons-container">
      <div class="buttons">
        <input id="savesettings"  type="submit" name="savesettings" value="$i18n.getText('plugin.save')" class="aui-button aui-button-primary"/>
        <input id="resetButton"  type="button" name="reset" value="$i18n.getText('plugin.reset')" onclick="location.href='TimetrackerAdminSettingsWebAction!default.jspa'" class="aui-button"/>
        <input id="cancelButton"  type="button" name="cancel" value="$i18n.getText('plugin.cancel')" onclick="location.href='/secure/JiraTimetrackerWebAction!default.jspa'" class="aui-button"/>
      </div>
    </div>
    
  </form>
  
  <!-- Issue Collector script -->
  <script type="text/javascript" src="$issueCollectorSrc"></script>

 
</body>
</html>
