#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
            <div class="jttp-headline">
              <div class="aui-group aui-group-split">
                 <div class="aui-item">
                 #if($userSettings.progressIndicatordaily)
                   <div class="jttp-headline-progress" id="jttp-headline-progress">
                     <div class="jttp-headline-progress-date" id="jttp-headline-progress-date">$dateTimeFormatter.format($date)</div>
                     <div class="jttp-headline-progress-number" id="jttp-headline-progress-number">$summaryDTO.daySumIndustryFormatted / $summaryDTO.hoursPerDayFormatted</div>
                     <div id="jttp-headline-progress-bar">
                       <div id="jttp-headline-progress-indicator" class="aui-progress-indicator" data-jttp-percent="$summaryDTO.dailyPercent">
                         <span class="aui-progress-indicator-value" />
                       </div>
                     </div>
                   </div>
                 #else
                   <div class="jttp-headline-date" id="jttp-headline-date">
                       <p id="jttp-headline-date-span">$dateTimeFormatter.format($date)</p>
                   </div>
                 #end
                 </div>
                 <div class="aui-item">
                   <form class="aui top-label" id="jttp-datecahnge-form" method="get" action="JiraTimetrackerWebAction.jspa" onsubmit="return everit.jttp.main.beforeSubmitChangeDate();">
                     <div class="buttons-container" id="jttp-headline-day-stepper-container">
                       <button id="jttp-headline-day-calendar" class="aui-button" title="Pick a date">
                         <span class="aui-icon aui-icon-small aui-iconfont-calendar">Open calendar</span>
                       </button>
                       <div class="aui-buttons stepper-group-container">
                         <button id="jttp-headline-day-prev" class="aui-button" title="Previous day" type="submit" id="dayBack"  name="dayBack" >
                           <span class="aui-icon aui-icon-small aui-iconfont-arrows-left">Previous day</span>
                         </button>
                         <button class="aui-button button-today" id="today" name="today" title="$i18n.getText('plugin.today.button')"> 
                            $i18n.getText('plugin.today.button')
                         </button>
                         <button id="jttp-headline-day-next" class="aui-button" title="Next day" type="submit" id="dayNext" name="dayNext">
                           <span class="aui-icon aui-icon-small aui-iconfont-arrows-right">Next day</span>
                         </button>
                       </div>
                       <input type="text" id="dateHidden" name="dateHidden" style="display: none" onchange="this.form.datesubmit.click()" />
                       <input type="submit" id="datesubmit" name="datesubmit" class="spaced" style="display: none"/>
                     </div>
                   </form>
                 </div>
              </div>
            </div>
