#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<body>

$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-progress-indicator")
$webResourceManager.requireResource("org.everit.jira.timetracker.plugin:jttp-resources")

#set($rendererType = "atlassian-wiki-renderer")
    #if($currentCalendar.useISO8601 == true)
        #set ($firstDay = 1)
    #else
        #set ($firstDay = 0)
    #end

<script type="text/javascript">
	window.everit = window.everit || {};
	everit.jttp = everit.jttp || {};
	everit.jttp.main = everit.jttp.main || {};

	(function(jttp, jQuery) {
		jttp.options = jQuery.extend( 
			{},
			jttp.options,
			{
				firstDay : ${firstDay},
				useISO8601 : ${currentCalendar.useISO8601},
				dateFormatted : ${dateFormatted},
				excludeDays : ${excludeDays},
				isColoring : ${isColoring},
				loggedDays : ${loggedDays},
				isDurationSelected : ${isDurationSelected},
				projectsId : ${projectsId},
				isPopup : ${isPopup},
				jiraMainVersion : ${jiraMainVersion},
				issueKey : '${issueKey}',
				comment : '${comment}',
				isEditAll : ${isEditAll}
			}
		);
	})(everit.jttp.main, AJS.$);
</script>

      <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large">
              <span class="aui-avatar-inner">
                <a href="http://www.everit.biz/index.php?nyelv=en" target="_blank">
                  <img src="$contextPath/download/resources/org.everit.jira.timetracker.plugin:jttp-resources/E_logo.png" alt="Everit reporting logo">
                </a>
              </span>
            </span>
          </div>
          <div class="aui-page-header-main">
            <h1>Timetracker</h1>
          </div>
          <div class="aui-page-header-actions">
            <div class="aui-buttons">
              <button class="aui-button aui-button-subtle"  type="button" name="setting" onclick="location.href='JiraTimetrackerSettingsWebAction!default.jspa'">
                <span class="aui-icon aui-icon-small aui-iconfont-configure"> </span>
              </button>
            </div>
          </div>
        </div>
      </header>

      <div class="aui-page-panel">
      #if(!$message.isEmpty())
        <div id="error_message">
          $message
        </div>
      #end

        <div class="aui-page-panel-inner">

          <section class="aui-page-panel-content">
            <div id="jttp-headline">
              <div id="jttp-headline-progress">
                <!-- New feature -->
                <div id="jttp-headline-progress-number">3h / 8h</div>
                <div id="jttp-headline-progress-bar">
                  <div id="jttp-headline-progress-indicator" class="aui-progress-indicator">
                    <span class="aui-progress-indicator-value" />
                  </div>
                </div>
              </div>
              <div id="jttp-headline-day-stepper-container">
                <form class="aui top-label" id="jttp-datecahnge-form" method="get" action="JiraTimetrackerWebAction.jspa" onsubmit="return everit.jttp.main.beforeSubmitChangeDate();">
                  <div class="aui-buttons">
                    <button id="jttp-headline-day-prev" class="aui-button aui-button-subtle" title="Previous day" type="submit" id="dayBack"  name="dayBack" >
                      <span class="aui-icon aui-icon-small aui-iconfont-arrows-left">Previous day</span>
                    </button>
                    <button id="jttp-headline-day-calendar" class="aui-button aui-button-subtle" title="Pick a date">
                      <span id="date-span"></span> 
                      <span class="aui-icon aui-icon-small aui-iconfont-calendar">Open calendar</span>
                    </button>
                    <button id="jttp-headline-day-next" class="aui-button aui-button-subtle" title="Next day" type="submit" id="dayNext" name="dayNext">
                      <span class="aui-icon aui-icon-small aui-iconfont-arrows-right">Next day</span>
                    </button>
                  </div>
                  <input type="text" id="dateHidden" name="dateHidden" style="display: none" onchange="this.form.datesubmit.click()" />
                  <input type="submit" id="datesubmit" name="datesubmit" class="spaced" style="display: none"/>
                </form>
              </div>
              <div id="jttp-headline-empty">&nbsp;</div>
            </div>
        </div>

        <!-- Dont forget the "No data to display" message -->
        #parse("templates/timetracker/list.vm")

          <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content" id="jttp-change-date">
              <div class="buttons-container">
                <div class="buttons">
                  <input class="aui-button " type="submit" value="Change date for all"
                    id="jttp-logwork-change-date-all" name="lw_chgdate" title="Move all the worklogs to a particular day">
                </div>
              </div>
            </section>
          </div>

          <div class="jttp-bottom-group" id="jttp-bottom-group">
            <section class="aui-page-panel-content" id="jttp-logwork-fields">
              <form name="dummyForm" class="aui top-label" id="dummyForm" method="get" onsubmit="return false;" >
                <div id="jttp-logwork-time" class="full-width-field">

                  <div class="field-group">
                    <label for="startTime">$i18n.getText("plugin.start.time")<span class="aui-icon icon-required">(required)</span></label>
                    <input id="startTime" class="text short-field" type="text"
                      value="$startTime" onkeypress="everit.jttp.main.handleEnterKey(event, '#endTime');"
                      name="startTime" maxlength="5" tabindex="1"
                      pattern="^([01][0-9]|2[0-3]):[0-5][0-9]$" title="hh:mm">
                    <input id="startNow" name="startNow" class="button" type="button" value="$i18n.getText('plugin.now')"
                      onclick="everit.jttp.main.startNowClick($startTimeChange);">
                  </div>

                  <div class="field-group">
                    <label for="endTime">$i18n.getText("plugin.end.time")</label>
                    <input id="radioEnd" type="radio" name="endOrDuration" value="end" checked="true" style="display: none;"> 
                    <span class="time-input-span">
                      <input id="endTime" class="text short-field" type="text"
                        name="endTime" maxlength="5" tabindex="2"
                        value="$endTime" onkeypress="everit.jttp.main.handleEnterKey(event, '#issueSelect-textarea');"
                        onclick="everit.jttp.main.endTimeInputClick($isEditAll);"
                        pattern="^([01][0-9]|2[0-3]):[0-5][0-9]$" title="empty or hh:mm">
                      <div id="endTimeInput" class="time-input-div" onclick="everit.jttp.main.endTimeInputClick($isEditAll);"></div>
                    </span>
                    <input id="endNow" class="button" type="button" name="endNow" value="$i18n.getText('plugin.now')" onclick="everit.jttp.main.endNowClick($endTimeChange);">
                  </div>

                  <div class="field-group">
                    <label for="durationTime">$i18n.getText("plugin.duration.time")</label> 
                    <input id="radioDuration" type="radio" name="endOrDuration" value="duration" style="display: none;">
                    <span class="time-input-span">
                      <input id="durationTime" class="text short-field" type="text"
                        name="durationTime" maxlength="5" tabindex="2"
                        value="$durationTime" onkeypress="everit.jttp.main.handleEnterKey(event, '#issueSelect-textarea');"
                        onclick="everit.jttp.main.durationTimeInput($isEditAll);"
                        pattern="^([01][0-9]|2[0-3]):[0-5][0-9]$" title="empty or hh:mm" disabled >
                      <div id="durationTimeInput" class="time-input-div" onclick="everit.jttp.main.durationTimeInput($isEditAll);"></div>
                    </span>
                  </div>
                </div>
                <div class="field-group">
                  <label for="issueSelect-textarea">Issue <span class="aui-icon icon-required">(required)</span></label>
                  <div id="issueSelect_container" class="ajax_autocomplete atlassian-autocomplete" >
                    <select class="hidden"
                      multiple="none" 
                      name="issueSelect"
                      id="issueSelect"
                      data-popup-link-message=""
                      data-popup-height="500"
                      data-remove-on-un-select="true"
                      data-ajax-options.query="true"
                      data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker"
                      data-ajax-options.data.query="-"
                      data-ajax-options.data.current-issue-key=""
                      data-ajax-options.data.show-sub-tasks="true"
                      data-ajax-options.data.show-sub-task-parent="true"
                      data-ajax-options.data.current_jql="resolution = Unresolved ORDER BY issuetype ASC, priority DESC">
                    </select> 
                  </div>
                </div>

                <div class="field-group">
                  <label for="comments">$i18n.getText("plugin.jttp-worklog-description")</label>
                  #set($fieldId = "comments")
                  #parse("templates/plugins/renderers/wiki/wiki-renderer-edit.vm")
                </div>
              </form>

              <div class="buttons-container">
                <!-- Worklog submit form -->
                <form class="aui top-label" id="jttp-logwork-form" method="get" action="JiraTimetrackerWebAction.jspa"  onsubmit="return everit.jttp.main.beforeSubmit();" >
                  <div class="buttons">
                    <input class="aui-button aui-button-primary" type="submit" value="Save"
                      id="jttp-logwork-save" name="lw_save" tabindex="5"> 
                    <input type="hidden" id="actionWorklogId" name="actionWorklogId" value="$actionWorklogId" >
                    <input type="hidden" id="actionFlag" name="actionFlag" value="$actionFlag" >
                    <input type="hidden" id="date" name="date" >
                    <input type="hidden" id="worklogValuesJson" name="worklogValuesJson" >
                    <input class="aui-button aui-button-subtle" type="reset" value="Cancel"
                      id="jttp-logwork-cancel" name="lw_cancel" onclick="everit.jttp.main.cancelClick();">
                  </div>
                </form>
              </div>

            </section>

            <section class="aui-page-panel-content" id="jttp-logwork-calendar">
                <!-- <div style="background-color: lightblue; width: 245.8px; height: 207.61px; margin: 50px 0px 50px 0px;"></div> -->
                <div id="not_popup_calendar" class="not_popup_calendar"></div>
            </section>

            <section class="aui-page-panel-content" id="jttp-worklog-summary">
              <!-- Summary -->
              #parse("templates/timetracker/summary.vm")
            </section>

          </div>
      </div>
      <!-- Issue Collector script -->
      <script type="text/javascript" src="$issueCollectorSrc"></script>
      #if($analyticsDTO.analyticsCheck)
        #parse("templates/common/analytics.vm")
      #end
</body>
</html>
