#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
$webResourceManager.requireResource("jira.webresources:dwr", null)   
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
<!-- <div class="aui-page-panel-inner"> -->
<!--          <section class="aui-page-panel-content" id="jttp-worklog"> -->
            <table id="jttp-worklog-table" class="aui">
              <thead>
                <tr>
                  <th id="jttp-worklog-issue-type" title='$i18n.getText("plugin.jttp-worklog-issue-type.tooltip")'>$i18n.getText("plugin.jttp-worklog-issue-type")</th>
                  #if($userSettings.showIssueSummary)
                   <th id="jttp-worklog-issue-summary">$i18n.getText("plugin.jttp-worklog-issue-summary")</th>
                   #else 
                  <th id="jttp-worklog-issue-key">$i18n.getText("plugin.jttp-worklog-issue-key")</th>
                  #end
                  <th id="jttp-worklog-issue-remaining">$i18n.getText("plugin.jttp-worklog-issue-remaining")</th>
                  <th id="jttp-worklog-start">$i18n.getText("plugin.jttp-worklog-start")</th>
                  <th id="jttp-worklog-end">$i18n.getText("plugin.jttp-worklog-end")</th>
                  <th id="jttp-worklog-duration">$i18n.getText("plugin.jttp-worklog-duration")</th>
                  <th #if($userSettings.showIssueSummary) id="jttp-worklog-description-small" #else id="jttp-worklog-description" #end">$i18n.getText("plugin.jttp-worklog-description")</th>
                  <th id="jttp-worklog-actions" style="text-align: center;">$i18n.getText("plugin.jttp-worklog-actions")</th>
                </tr>
              </thead>
            #if($worklogs.size() == 0)
              </table>
              <div id="aui-message-bar" style="padding: 3px;"></div>
            #else
              <tbody>
              #foreach ($worklog in $worklogs)
                <tr #if(($worklog.worklogId == $actionWorklogId) || ($actionFlag == "editAll" && $parsedEditAllIds.contains($worklog.worklogId))) class="rowEdit"#end>
                  <td>
                    <img class="img-tooltip" src="#if(!$worklog.issueAvatarId) #if( $worklog.issueTypeIconUrl.startsWith("http") )$worklog.issueTypeIconUrl#else$contextPath$worklog.issueTypeIconUrl#end#else$contextPath/secure/viewavatar?size=xsmall&avatarId=$worklog.issueAvatarId&avatarType=issuetype#end" alt="$worklog.issueTypeName" title="$worklog.issueTypeName"></img>
                  </td>
                   #if($userSettings.showIssueSummary)
                  <td class="table-issue" style="word-break: break-word; #if($worklog.isClosed) text-decoration: line-through; #end">
                    <a href="$contextPath/browse/$worklog.issue" jttp-data-issue-key="$worklog.issue" class="issue-link tooltip-bottom" title="#if($worklog.issueParent != '') $i18n.getText('plugin.parent.issue') $worklog.issueParent &#13 $worklog.issue #else $worklog.issue #end">$worklog.issueSummary</a>
                  </td>
                  #else
                   <td class="table-issue" style="white-space: nowrap; #if($worklog.isClosed) text-decoration: line-through; #end">
                    <a href="$contextPath/browse/$worklog.issue" jttp-data-issue-key="$worklog.issue" class="issue-link tooltip-bottom" title="#if($worklog.issueParent != '') $i18n.getText('plugin.parent.issue') $worklog.issueParent &#13 $worklog.issueSummary #else $worklog.issueSummary #end">$worklog.issue</a>
                  </td>
                  #end
                  <td>
                  #if($userSettings.rounded)
                    #set($remainingValue=$worklog.roundedRemaining)
                  #else
                    #set($remainingValue=$worklog.exactRemaining)
                  #end
                  #if($worklog.isClosed)
                    <div class="tooltip-bottom"  title="$worklog.exactRemaining" style="color: #A3A1A1; white-space: nowrap;">$remainingValue</div>
                  #elseif($worklog.isMoreEstimatedTime)
                    <div class="tooltip-bottom"  title="$worklog.exactRemaining" style="white-space: nowrap;">$remainingValue<div>
                  #else
                    <div class="tooltip-bottom"  title="$worklog.exactRemaining" style="color:red; white-space: nowrap;">$remainingValue</div>
                  #end
                  </td>
                  <td class="table-starttime">
                    $worklog.startTime
                  </td>
                  <td class="table-endtime">
                    $worklog.endTime
                  </td>
                  <td>
                    $worklog.duration
                  </td>
                  <td  class="table-comment wiki-edit-content">
                    $atlassianWikiRenderer.render($worklog.body, $issueRenderContext)
                    <input id="hiddenWorklogBody" type="hidden" value="$worklog.body">
                  </td>
                  <td>
                    <form class="aui top-label actionForm_$worklog.worklogId" id="jttp-action-form" method="get" action="JiraTimetrackerWebAction.jspa"  onsubmit="return everit.jttp.main.beforeSubmitAction($worklog.worklogId);" >
                      <input id="actionWorklogId" name="actionWorklogId" type="hidden" value="$worklog.worklogId" >
                      <input id="actionFlag" name="actionFlag" type="hidden" value="" class="actionFlag_$worklog.worklogId" onchange="everit.jttp.main.actionSubmitClick($worklog.worklogId);">
                      <table class="operation-table">
                        <tr>
                          <td>
                            #if($worklog.editOwnWorklogs)
                            <span class="aui-icon aui-icon-small aui-iconfont-edit tooltip-left jttp-aui-icon"
                              id="edit" name="edit" title="$i18n.getText('plugin.edit')"
                              onclick="everit.jttp.main.setActionFlag('edit', $worklog.worklogId);">
                            </span>
                            #end
                          </td>
                          <td>
                            #if($worklog.deleteOwnWorklogs)
                            <span class="aui-icon aui-icon-small aui-iconfont-delete tooltip-left jttp-aui-icon"
                              id="delete" name="delete" title="$i18n.getText('plugin.delete')"
                              onclick="return everit.jttp.main.showDeleteConfirmation($worklog.worklogId);">
                            </span>
                            #end
                          </td>
                          <td>
                            <span class="aui-icon aui-icon-small aui-iconfont-copy-clipboard copy tooltip-left jttp-aui-icon"
                              id="copy" name="copy" title="$i18n.getText('plugin.copy')" 
                              onclick="everit.jttp.main.setActionFlag('copy', $worklog.worklogId);">
                            </span>
                          </td>
                        </tr>
                      </table>
                      <input type="submit" id="actionSubmit_$worklog.worklogId" name="actionSubmit_$worklog.worklogId" style="display: none"/>
                    </form>
                  </td>
                </tr>
              #end
              </tbody>
            </table>
            #end
            <!--    </section> -->
            #parse("templates/timetracker/delete_confirmation_dialog.vm")
     <!--   </div> -->