#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
$webResourceManager.requireResource("jira.webresources:dwr", null)   
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
 <div class="aui-page-panel-inner">
          <section class="aui-page-panel-content" id="jttp-worklog">
            <table id="jttp-worklog-table" class="aui">
              <thead>
                <tr>
                  <th id="jttp-worklog-issue-type" title='$i18n.getText("plugin.jttp-worklog-issue-type.tooltip")'>$i18n.getText("plugin.jttp-worklog-issue-type")</th>
                  <th id="jttp-worklog-issue-key">$i18n.getText("plugin.jttp-worklog-issue-key")</th>
                  <th id="jttp-worklog-issue-remaining">$i18n.getText("plugin.jttp-worklog-issue-remaining")</th>
                  <th id="jttp-worklog-start">$i18n.getText("plugin.jttp-worklog-start")</th>
                  <th id="jttp-worklog-end">$i18n.getText("plugin.jttp-worklog-end")</th>
                  <th id="jttp-worklog-duration">$i18n.getText("plugin.jttp-worklog-duration")</th>
                  <th id="jttp-worklog-description">$i18n.getText("plugin.jttp-worklog-description")</th>
                  <th id="jttp-worklog-actions">$i18n.getText("plugin.jttp-worklog-actions")</th>
                </tr>
              </thead>
            #if($worklogs.size() == 0)
              </table>
              <div id="message" class="center-text" style="padding: 3px; font-size: 14px;">
                $i18n.getText("plugin.no.worklogs")
              </div>
            #else
              <tbody>
              #foreach ($worklog in $worklogs)
                #set($wl_item_class = "")
                #if($worklog.worklogId == $editedWorklogId)
                  #set($wl_item_class = "rowEdit")
                #elseif($worklog.worklogId == $copiedWorklogId)
                  #set($wl_item_class = "rowCopy")
                #end
                <tr #if(not $wl_item_class.isEmpty()) class="${wl_item_class}"#end>
                  <td>
                    <img class="img-tooltip" src="#if(!$worklog.issueAvatarId) #if( $worklog.issueTypeIconUrl.startsWith("http") )$worklog.issueTypeIconUrl#else$contextPath$worklog.issueTypeIconUrl#end#else$contextPath/secure/viewavatar?size=xsmall&avatarId=$worklog.issueAvatarId&avatarType=issuetype#end" alt="$worklog.issueTypeName" title="$worklog.issueTypeName"></img>
                  </td>
                  <td style="white-space: nowrap; #if($worklog.isClosed) text-decoration: line-through; #end">
                    <a href="$contextPath/browse/$worklog.issue" class="issue-link" title="#if($worklog.issueParent != '') $i18n.getText('plugin.parent.issue') $worklog.issueParent &#13 $worklog.issueSummary #else $worklog.issueSummary #end">$worklog.issue</a>
                  </td>
                  <td>
                  #if($worklog.isClosed)
                    <div title="$worklog.exactRemaining" style="color: #A3A1A1;">$worklog.roundedRemaining</div>
                  #elseif($worklog.isMoreEstimatedTime)
                    <div title="$worklog.exactRemaining">$worklog.roundedRemaining<div>
                  #else
                    <div title="$worklog.exactRemaining" style="color:red;">$worklog.roundedRemaining</div>
                  #end
                  </td>
                  <td>
                    $worklog.startTime
                  </td>
                  <td>
                    $worklog.endTime
                  </td>
                  <td>
                    $worklog.duration
                  </td>
                  <td>
                    $worklog.body
                  </td>
                  <td>
                    <input id="hiddenWorklogId" type="hidden" value="$worklog.worklogId" >
                    <span class="aui-icon aui-icon-small aui-iconfont-edit"
                      id="edit" name="edit" title="$i18n.getText('plugin.edit')"
                      onclick="location.href='JiraTimetrackerWebAction.jspa?editedWorklogId=$worklog.worklogId&dateFormatted=$dateFormatted'">
                    </span>
                    <span class="aui-icon aui-icon-small aui-iconfont-delete"
                      id="delete" name="delete" title="$i18n.getText('plugin.delete')"
                      onclick="location.href='JiraTimetrackerWebAction!default.jspa?deletedWorklogId=$worklog.worklogId&dateFormatted=$dateFormatted'">
                    </span>
                    <span class="aui-icon aui-icon-small aui-iconfont-copy-clipboard copy"
                      id="copy" name="copy" title="$i18n.getText('plugin.copy')" onclick="location.href='JiraTimetrackerWebAction!default.jspa?copiedWorklogId=$worklog.worklogId&dateFormatted=$dateFormatted'">
                    </span>
                  </td>
                </tr>
              #end
              </tbody>
            </table>
            #end
          </section>
        </div>