#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<head>
<title>Timetracker Settings</title>
</head>
<body>
  $webResourceManager.requireResourcesForContext("org.everit.jira.timetracker.plugin.timetracker-user-settings-resources")
  
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-image">
        <span class="aui-avatar aui-avatar-large">
          <span class="aui-avatar-inner">
            <a href="http://www.everit.biz/index.php?nyelv=en" target="_blank">
              <img class="everit_logo" alt="Everit reporting logo">
            </a>
          </span>
        </span>
      </div>
      <div class="aui-page-header-main">
        <h1>Timetracker Settings</h1>
      </div>
    </div>
  </header>
  
  <div class="aui-page-panel">
    <div class="aui-page-panel-inner aui-page-panel-content">
      <form name="settingsForm"  method="post" action="JiraTimetrackerSettingsWebAction.jspa" class="aui">
        #if(!$message.isEmpty())
        <div id="error_message">
          $i18n.getText($message) $messageParameter
        </div>
        #end
        
        <h3>$i18n.getText("plugin.setting.calendar.appearance")</h3>
        <div class="field-group">
          <label>$i18n.getText("plugin.setting.isactualdate"):</label>
          <div>
            #if($isActualDate)
            <input id="radioCurrent" type="radio" name="currentOrLast" value="current" class="settings-input" checked="true">  
            #else
            <input id="radioCurrent" type="radio" name="currentOrLast" value="current" class="settings-input">
            #end
            <label for="radioCurrent">$i18n.getText("plugin.setting.current")</label>
            
            #if($isActualDate)
            <input id="radioLast" type="radio" name="currentOrLast" value="last" class="settings-input">  
            #else
            <input id="radioLast" type="radio" name="currentOrLast" value="last" class="settings-input" checked="true"> 
            #end
            <label for="radioLast">$i18n.getText("plugin.setting.last")</label>
          </div>
          <div class="description">$i18n.getText("plugin.setting.isactualdate.help")</div>
        </div>
        
        <div class="field-group">
          <label>$i18n.getText("plugin.setting.coloring"):</label>
          <input id="isColoring" type="checkbox" value="use color" class="settings-input" name="isColoring" #if($isColoring) checked #end/>
          <div class="description">$i18n.getText("plugin.setting.coloring.help")</div>
        </div>
        
        <h3>$i18n.getText("plugin.setting.progress.ind.appearance")</h3>
        <div class="field-group">
          <label>$i18n.getText("plugin.setting.progress.ind"):</label>
          <div>
            #if($progressIndDaily)
            <input id="radioDaily" type="radio" name="progressInd" value="daily" class="settings-input" checked="true">
            #else
            <input id="radioDaily" type="radio" name="progressInd" value="daily" class="settings-input">
            #end
            <label for="radioDaily">$i18n.getText("plugin.setting.progress.ind.daily")</label>
            
            #if(!$progressIndDaily)
            <input id="radioSummary" type="radio" name="progressInd" value="summary" class="settings-input" checked="true">
            #else
            <input id="radioSummary" type="radio" name="progressInd" value="summary" class="settings-input">
            #end
            <label for="radioSummary">$i18n.getText("plugin.setting.progress.ind.summary")</label>
          </div>
          <div class="description">$i18n.getText("plugin.setting.progress.ind.help")</div>
        </div>
        
        <h3>$i18n.getText("plugin.setting.input.fields.settings")</h3>
        <div class="field-group">
          <label>$i18n.getText("plugin.setting.starttime.value"):</label>
          <input id="startTime"  type="text" name="startTime" value="$startTime"  class="time-input settings-input text short-field"/> $i18n.getText("plugin.setting.min")
          <div class="description">$i18n.getText("plugin.setting.starttime.help")</div>
        </div>
        <div class="field-group">
          <label>$i18n.getText("plugin.setting.endtime.value"):</label>
          <input id="endTime"  type="text" name="endTime" value="$endTime" class="time-input settings-input text short-field"/> $i18n.getText("plugin.setting.min")
          <div class="description">$i18n.getText("plugin.setting.starttime.help")</div>
        </div>
        
        <h3>$i18n.getText("plugin.setting.worklog.data.appearance")</h3>
        <div class="field-group">
          <label>$i18n.getText("plugin.setting.rounded.remaining"):</label>
          <input id="isRounded" type="checkbox" value="use round" class="settings-input" name="isRounded" #if($isRounded) checked #end/>
          <div class="description">$i18n.getText("plugin.setting.rounded.remaining.help")</div>
        </div>
        
        <div class="buttons-container">
          <div class="buttons">
            <input id="savesettings"  type="submit" name="savesettings" value="$i18n.getText('plugin.save')" class="aui-button aui-button-primary"/>
            <input id="resetButton"  type="button" name="reset" value="$i18n.getText('plugin.reset')" onclick="location.href='JiraTimetrackerSettingsWebAction.jspa'" class="aui-button"/>
            <input id="cancelButton"  type="button" name="cancel" value="$i18n.getText('plugin.cancel')" onclick="location.href='JiraTimetrackerWebAction!default.jspa'" class="aui-button"/>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <!-- Issue Collector script -->
  <script type="text/javascript" src="$issueCollectorSrc"></script>
  #if($analyticsDTO.analyticsCheck)
    #parse("templates/common/analytics.vm")
  #end
</body>
</html>
