#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *               http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
         <div class="summary-container">
           <div class="aui-group aui-group-trio">
             <div class="aui-item">
               <label class="progress-label" for="day-progress">Day: 4h 10m / 5h 10m</label>
               <div id="day-progress" class="progress" style="height:8px; margin-bottom:0px;">
                 <div class="progress-bar progress-bar-danger" style="width: 50%"></div>
                 <div class="progress-bar progress-bar-danger-nowork" style="width: 30%"></div>
               </div>
             </div>
             <div class="aui-item">
               <label class="progress-label" for="day-progress">Week: 2d 1h 30m / 2d 2h 30m</label>
               <div id="week-progress" class="progress" style="height:8px; margin-bottom:0px;">
                 <div class="progress-bar progress-bar-warning" style="width: 30%"></div>
                 <div class="progress-bar progress-bar-warning-nowork" style="width: 30%"></div>
               </div>
             </div>
             <div class="aui-item">
               <label class="progress-label" for="day-progress">Month: 3w 4h / 3w 5h</label>
               <div id="month-progress" class="progress" style="height:8px; margin-bottom:0px;">
                 <div class="progress-bar progress-bar-success" style="width: 70%"></div>
                 <div class="progress-bar progress-bar-success-nowork" style="width: 15%"></div>
                </div>
              </div>
            </div>
          </div>
