#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *               http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
         <div class="summary-container">
            <div id="progressBars" class="aui-group aui-group-trio">
               #if($issueRegexIsNotEmpty)
				<div class="aui-item jttpTooltip">
					<label class="progress-label" for="day-progress">Day: $dayFilteredSummary / $daySummary</label>
					<div id="day-progress" class="progress" style="height:8px; margin-bottom:0px;">
						<div class="progress-bar" style="width: ${dayFilteredRealWorkIndicatorPrecent}%">                                        
						</div>
						<div class="progress-bar progress-bar-nowork" style="width: ${dayFilteredNonWorkIndicatorPrecent}%">                                        
						</div>
					</div>
						<div class="jttpTooltiptext">$i18n.getText('plugin.progress.expected'): $formattedExpectedWorkTimeInDay <br/> $i18n.getText('plugin.progress.total'): $daySummary <br/>$i18n.getText('plugin.progress.realWork'): $dayFilteredSummary <br/>$i18n.getText('plugin.progress.nonWork'): $formattedNonWorkTimeInDay</div>
				</div>
				<div class="aui-item jttpTooltip">
					<label class="progress-label" for="week-progress">Week: $weekFilteredSummary / $weekSummary</label>
					<div id="week-progress" class="progress" style="height:8px; margin-bottom:0px;">
						<div class="progress-bar" style="width: ${weekFilteredRealWorkIndicatorPrecent}%">                                        
						</div>
						<div class="progress-bar progress-bar-nowork" style="width: ${weekFilteredNonWorkIndicatorPrecent}%">                                        
						</div>
					</div>
						<div class="jttpTooltiptext">$i18n.getText('plugin.progress.expected'): $formattedExpectedWorkTimeInWeek <br/> $i18n.getText('plugin.progress.total'): $weekSummary <br/>$i18n.getText('plugin.progress.realWork'):$weekFilteredSummary <br/>$i18n.getText('plugin.progress.nonWork'): $formattedNonWorkTimeInWeek</div>
				</div>
				<div class="aui-item jttpTooltip">
					<label class="progress-label" for="month-progress">Month: $monthFilteredSummary / $monthSummary</label>
					<div id="month-progress" class="progress" style="height:8px; margin-bottom:0px;">
						<div class="progress-bar" style="width: ${monthFilteredRealWorkIndicatorPrecent}%">                                        
						</div>
						<div class="progress-bar progress-bar-nowork" style="width: ${monthFilteredNonWorkIndicatorPrecent}%">                                        
						</div>
					</div>
						<div class="jttpTooltiptext">$i18n.getText('plugin.progress.expected'): $formattedExpectedWorkTimeInMonth<br/> $i18n.getText('plugin.progress.total'): $monthSummary <br/>$i18n.getText('plugin.progress.realWork'): $monthFilteredSummary <br/>$i18n.getText('plugin.progress.nonWork'): $formattedNonWorkTimeInMonth</div>
				</div>
				#else
				<div class="aui-item jttpTooltip">
					<label class="progress-label" for="day-progress">Day: $daySummary</label>
					<div id="day-progress" class="progress" style="height:8px; margin-bottom:0px;">
						<div class="progress-bar" style="width: ${dayIndicatorPrecent}%">                                        
						</div>
					</div>
					<div class="jttpTooltiptext">$i18n.getText('plugin.progress.expected'): $formattedExpectedWorkTimeInDay<br/> $i18n.getText('plugin.progress.total'): $daySummary</div>
				</div>
				<div class="aui-item jttpTooltip">
					<label class="progress-label" for="week-progress">Week: $weekSummary</label>
					<div id="week-progress" class="progress" style="height:8px; margin-bottom:0px;">
						<div class="progress-bar" style="width: ${weekIndicatorPrecent}%">                                        
						</div>
					</div>
					<div class="jttpTooltiptext">$i18n.getText('plugin.progress.expected'): $formattedExpectedWorkTimeInWeek<br/> $i18n.getText('plugin.progress.total'): $weekSummary</div>
				</div>
				<div class="aui-item jttpTooltip">
					<label class="progress-label" for="month-progress">Month: $monthSummary</label>
					<div id="month-progress" class="progress" style="height:8px; margin-bottom:0px;">
						<div class="progress-bar" style="width: ${monthIndicatorPrecent}%">                                        
						</div>
					</div>
					<div class="jttpTooltiptext">$i18n.getText('plugin.progress.expected'): $formattedExpectedWorkTimeInMonth<br/> $i18n.getText('plugin.progress.total'): $monthSummary</div>
				</div>
				#end
               </div>
          </div>
