## Style Declaration
<style type="text/css">
	. grid td {
		text-align: center;
		vertical-align: inherit;
	}
	.rowHeader {
        background-color:#E2E2E2;
    }
    .rowAlter {
        background-color:#F2F2F2;
    }
    .button {
        padding: 2px;
    }
    .grid {
        font-family:Arial,Helvetica,sans-serif;
        font-size:12px;
        background-color:#FCFCFC;
        border:1px solid #D2D2D2;
        border-collapse:collapse;
    }
    .grid th, .grid td {
        border:1px solid #D2D2D2;
        padding:4px;
    }
    
    input[type="text"]:disabled
	{
		background:#D3D3D3;
	}
   
    .calendar tbody td.logged{
    	background-color: #FF7800;
    	font-weight: 500;
    }
</style>
<script>
	
	function calculateTimeForInputfileds(hour,min){
		if (hour < 10){
			hour = "0" + hour
		}
		if (min < 10){
			min = "0" + min
		}
		var time = hour + ':' + min;
		return time;
	}
	
	function setLoggedDaysDesign(){
		var dayNumber =  $loggedDays.size();
	 	for(var i = 0; i < dayNumber; i++){
	 		var theDay = $loggedDays[i];
	 		var calendarDays = AJS.$('.day.day-'+theDay);
	 		for (var j=0;j<calendarDays.length;j++){
	 			if(!(AJS.$(calendarDays[j]).hasClass('selected') || AJS.$(calendarDays[j]).hasClass('othermonth') || AJS.$(calendarDays[j]).hasClass('logged'))){
	 				calendarDays[j].className += " logged";
	 			}
	 		}
	 	}
	}
	
	function setExcludeDaysToWeekend(){
	 	var dayNumber =  $excludeDays.size();
	 	for(var i = 0; i < dayNumber; i++){
	 		var theDay = $excludeDays[i];
	 		var calendarDays = AJS.$('.day.day-'+theDay);
	 		for (var j=0;j<calendarDays.length;j++){
	 			if(!(AJS.$(calendarDays[j]).hasClass('selected') || AJS.$(calendarDays[j]).hasClass('othermonth') || AJS.$(calendarDays[j]).hasClass('weekend'))){
	 				calendarDays[j].className += " weekend";
	 			}
	 		}
	 	}
	}

	var original = Calendar.prototype.show;
	
	Calendar.prototype.show = function(){
		original.call(this);
		setExcludeDaysToWeekend();
		setLoggedDaysDesign();
	}
	
	
</script>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")

<form name="jttpForm"  method="post"
					#if($isEdit) action="JiraTimetarckerWebAction.jspa?editedWorklogId=$editedWorklogId&dateFormated=$dateFormated" 
					#elseif($isEditAll) action="JiraTimetarckerWebAction.jspa?editAllIds=$editAllIds&dateFormated=$dateFormated" 
					#else action="JiraTimetarckerWebAction.jspa?dateFormated=$dateFormated" #end/>   
	#set($rendererType = "atlassian-wiki-renderer")
	<div id="plugin_head" class="item-header">
 			<h1 class="item-summary">Timetracker</h1>
  	</div>
	<div id="main-content" class="content rounded">
		<div style="margin:10px; width:970px;">
			##TAB START
			<div class="tabwrap tabs2" id="tabs-jttp">
	    		<ul class="tabs horizontal">
	        		<li class="active">
	            		<a href="JiraTimetarckerWebAction!default.jspa"><strong>Timetracker</strong></a>
	        		</li>
	        		<li>
	            		<a href="JiraTimetrackerWorklogsWebAction!default.jspa"><strong>Missing Days Report</strong></a>
	        		</li>
	    		</ul>
	    	</div>
			##TAB END
			<div id="message" style="color: red; ">
		 			$i18n.getText($message) $messageParameter
		  	</div>
		  	<table style="width: 100%; padding-right: 5px;">
		  		<tr>
		  			<td rowspan="2" style="width: 40%">
					  	<input type="text" id="date" name="date" style="display: none" onchange="this.form.datesubmit.click()" />
						<input type="submit" id="datesubmit" name="datesubmit" class="spaced" style="display: none"/>
						<div id="calendar_div" style="text-align: left; vertical-align: inherit; float: left; padding:5px;">
						#if($isPopup != 2)
							<input type="submit" id="monthBack"  name="monthBack" value="<<<" class="button" />
							<input type="submit" id="weekBack"  name="weekBack" value="<<" class="button"  />
							<input type="submit" id="dayBack"  name="dayBack" value="<" class="button"  />
							 $dateFormated
							<img id="date_trigger" src="/images/icons/cal.gif" width="16" height="16" border="0"
								alt="Pick a date"/>
							<input type="submit" id="dayNext"  name="dayNext" value=">"  class="button"/>
							<input type="submit" id="weekNext"  name="weekNext" value=">>"  class="button"/>
							<input type="submit" id="monthNext"  name="monthNext" value=">>>" class="button" />
							<script>
							var cal= Calendar.setup({
								firstDay : 0,
								inputField : 'date',
								button : 'date_trigger',
								date : '$dateFormated',
								align : 'Br',
								electric: false,
								singleClick : true,
								showOthers: true,
								useISO8601WeekNumbers : false,
								ifFormat : '%Y-%m-%d'
							});
							
							</script>
						#end
						</div>
					</td>
					<td align="right"  style="width: 15%">
						$i18n.getText("plugin.summary")   
					</td>
					<td align="right" style="width: 5%">
						 $i18n.getText("plugin.day")
					</td>
					<td align="left" style="width: 80px;">
						 ($daySummary)
					</td>
					<td align="right" style="width: 5%">
						$i18n.getText("plugin.week")
					</td>
					<td align="left" style="width: 85px;">
						($weekSummary)
					</td>
					<td align="right" style="width: 5%">
						$i18n.getText("plugin.month")
					</td>
					<td align="left" style="width: 85px;">
						 ($monthSummary)
					</td>
				</tr>
				<tr>
					<td align="right" style="width: 15%" >	
						#if($issuesId.size() != 0)
									$i18n.getText("plugin.real.work") $i18n.getText("plugin.summary") 
								</td>
								<td align="right" style="width: 5%">
									$i18n.getText("plugin.day") 
								</td>
								<td align="left" style="width: 80px;">
									($dayFilteredSummary) 
								</td>
								<td align="right" style="width: 5%">
									$i18n.getText("plugin.week") 
								</td>
								<td align="left" style="width: 85px;">
									($weekFilteredSummary) 
								</td>
								<td align="right" style="width: 5%">
									$i18n.getText("plugin.month") 
								</td>
								<td align="left" style="width: 85px;">
									($monthFilteredSummary)
						#end
					</td>
				</tr>		
			</table>
		    #parse("templates/list.vm")
	   		</br>
	   		<div id="inputfields" name="inputfields">
	   		<table  width="100%">
	   			<tbody>
	   				<tr>
	   					<input id="editAll" type="button" name="editall" value="$i18n.getText('plugin.edit.all')" onclick="location.href='JiraTimetarckerWebAction!default.jspa?editAllIds=$worklogsIds&dateFormated=$dateFormated'" class="button" />
	   					<td>
							<table>
						                <tbody>
						                	<tr>
						                		<td style="width: 110px;">
						                			<div class="field-group" style="width: 95px;">
						                          	 	$i18n.getText("plugin.start.time") <img src="/images/required.png" width="16" height="16" border="0" />
						                           </div>
						                		</td>
						                		<td>
						                		</td>
						                		<td style="width: 110px;">
							                		<div style="width: 110px;" >
						                				<input id="radioEnd" type="radio" name="endOrDuration" value="end" style="margin-right: 10px" checked="true" onclick="this.form.durationTime.readOnly=true;this.form.durationTime.disabled=true;this.form.endTime.readOnly=false;this.form.endTime.disabled=false;"> $i18n.getText("plugin.end.time")
						                			</div>	
						                		</td>
						                		<td>
						                		</td>
						                		<td style="width: 120px">
						                			<div style="width: 120px;" >
						                				<input id="radioDuration" type="radio" name="endOrDuration" value="duration" style="margin-right: 10px" onclick="this.form.endTime.readOnly=true;this.form.endTime.disabled=true;this.form.durationTime.readOnly=false;this.form.durationTime.disabled=false;" > $i18n.getText("plugin.duration.time")
						                			</div>	
						                		</td>
						                	 	<td width="auto">
						                    	</td>
						                	</tr>
						                    <tr>
						                        <td  style="width: 110px;">
						                           <input id="startTime"  type="text" name="startTime" value="$startTime" tabindex="1" style="margin-right: 5px; width: 100px;"/> 
						                        </td>
						                        <td style="width: 110px;">
						                           <input id="startChangeDec"  type="button" name="startChangeDec" value="<" class="button" width: 20px;"/>
						                           <input id="startNow"  type="button" name="startNow" value="$i18n.getText('plugin.now')" class="button" width: 40px;"/>
						                           <input id="startChangeInc"  type="button" name="startNow" value=">" class="button" style="margin-right: 30px; width: 20px;"/>
						                           <script>
														AJS.$("#startNow").click(function() {
					                   						var currentTime = new Date();
															var hour = currentTime.getHours();
															var minute = currentTime.getMinutes();
															var now = calculateTimeForInputfileds(hour,minute);
															AJS.$("#startTime").val(now);
					               						 });
					               						AJS.$("#startChangeDec").click(function() {
					               							var startTimeValParts = AJS.$("#startTime").val().split(':');
					               							var hour = parseInt(startTimeValParts[0]);
					               							var min = parseInt(startTimeValParts[1]);
					               							if(min >= $startTimeChange){
					               								min = min - $startTimeChange;
					               							}else{
					               								var div = $startTimeChange - min;
					               								min = 60 - div;
					               								hour = hour - 1;
					               								if(hour < 0){
					               								 hour = 23;
					               								}
					               							}
					               							var time = calculateTimeForInputfileds(hour,min);
															AJS.$("#startTime").val(time);	
					               						}); 
					               						AJS.$("#startChangeInc").click(function() {
					               							var startTimeValParts = AJS.$("#startTime").val().split(':');
					               							var hour = parseInt(startTimeValParts[0]);
					               							var min = parseInt(startTimeValParts[1]);
					               							min = min + $startTimeChange;
					               							if(min >= 60){
					               								min = min - 60;
					               								hour = hour + 1;
					               								if(hour > 23){
					               									hour = 0;
					               								} 
					               							}
															var time = calculateTimeForInputfileds(hour,min);
															AJS.$("#startTime").val(time);	
					               						}); 
													</script>
						                        </td>
												<td  style="width: 110px">
						                    	 	<input id="endTime"  type="text" name="endTime" value="$endTime" tabindex="2"  style="margin-right: 5px; width: 100px"/> 
						                    	 </td>
						                    	 <td style="width: 85px;">
						                    	   <input id="endChangeDec"  type="button" name="endChangeDec" value="<" class="button" width: 20px;"/>
						                    	   <input id="endNow"  type="button" name="endNow" value="$i18n.getText('plugin.now')" class="button" width: 40px;"/>
						                    	   <input id="endChangeInc"  type="button" name="endChangeInc" value=">" class="button" style="margin-right: 5px; width: 20px;"/>
						                           <script>
														AJS.$("#endNow").click(function() {
					                   						var currentTime = new Date();
															var hour = currentTime.getHours();
															var minute = currentTime.getMinutes();
															var now =calculateTimeForInputfileds(hour,minute);
															AJS.$("#endTime").val(now);
					               						 });
					               						 AJS.$("#endChangeDec").click(function() {
					               							var endTimeValParts = AJS.$("#endTime").val().split(':');
					               							var hour = parseInt(endTimeValParts[0]);
					               							var min = parseInt(endTimeValParts[1]);
					               							if(min >= $startTimeChange){
					               								min = min - $endTimeChange;
					               							}else{
					               								var div = $endTimeChange - min;
					               								min = 60 - div;
					               								hour = hour - 1;
					               								if(hour < 0){
					               								 hour = 23;
					               								}
					               							}
					               							var time = calculateTimeForInputfileds(hour,min);
															AJS.$("#endTime").val(time);	
					               						}); 
					               						AJS.$("#endChangeInc").click(function() {
					               							var endTimeValParts = AJS.$("#endTime").val().split(':');
					               							var hour = parseInt(endTimeValParts[0]);
					               							var min = parseInt(endTimeValParts[1]);
					               							min = min + $endTimeChange;
					               							if(min >= 60){
					               								min = min - 60;
					               								hour = hour + 1;
					               								if(hour > 23){
					               									hour = 0;
					               								} 
					               							}
															var time = calculateTimeForInputfileds(hour,min);
															AJS.$("#endTime").val(time);	
					               						}); 
													</script>
						                    	 </td>
						                    	 <td  style="width: 120px" >
						                    	 	<input id="durationTime"  type="text" name="durationTime" disabled value="$durationTime"  style="width: 100px"/>
						                    	 </td>
						                    	<td width="auto">
						                    	</td>
						                    </tr>
						                    <tr>
						                    	<td colspan="6">
						                           Issue: <img src="/images/required.png" width="16" height="16" border="0"/>
					  							   <div id="issueSelect_container" class="ajax_autocomplete atlassian-autocomplete" >
										    		<select class="hidden"
										    			multiple="none" 
										    			name="issueSelect" 
														id="issueSelect" 
										    			data-popup-link-message="" 
										    			data-popup-width="620" 
										    			data-popup-height="500" 
										    			data-remove-on-un-select="true" 
										    			data-ajax-options.query="true" 
										    			data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker" 
										    			data-ajax-options.data.query="-" 
										    			data-ajax-options.data.current-issue-key=""
										    			data-ajax-options.data.show-sub-tasks="true" 
												    	data-ajax-options.data.show-sub-task-parent="true"
														#if (${action.currentJQL})
															data-ajax-options.data.current_jql=${action.currentJQL}
														#end>
													</select> 
										    		<script>
														var ip = new AJS.IssuePicker({
												  		element: AJS.$("#issueSelect"),
												  		userEnteredOptionsMsg: AJS.params.enterIssueKey,
												  		uppercaseUserEnteredOnSelect: true,
												  		singleSelectOnly: true,
												   		currentProjectId: $projectsId,
														});
														#if($isPopup != 1)
															AJS.$("#issueSelect-multi-select").attr("style","width: 630px;");
															AJS.$("#issueSelect-textarea").attr("style","width: 605px;");
														#else
															AJS.$("#issueSelect-multi-select").attr("style","width: 930px;");
															AJS.$("#issueSelect-textarea").attr("style","width: 905px;");
														#end	
														//Set the issue key		
														AJS.$("#issueSelect-textarea").append("$issueKey");
														AJS.$("#issueSelect-textarea").attr("tabindex","3");
														
														
														ip.handleFreeInput();
													</script>
											 	</div>
						                        </td>
						                    </tr>
						                    <tr>
						            	 		<td colspan="6">
							                    	$i18n.getText("plugin.note"):</br>
							 	  					#set($fieldId = "comments")	
							 	  					#parse("templates/plugins/renderers/wiki/wiki-renderer-edit.vm")
							 	  					<script>
							 	  						#if($isPopup != 1)
							 	  						  AJS.$("#comments-wiki-edit").attr("style","width: 650px;");
							 	  						  AJS.$("#comments").attr("style","width: 650px");
							 	  						#else
							 	  						  AJS.$("#comments-wiki-edit").attr("style","width: 950px;");
							 	  						  AJS.$("#comments").attr("style","width: 950px");	
							 	  						#end    
							 	  						AJS.$("#comments").append("$comment");
							 	  						AJS.$("#comments").attr("tabindex","4");
							 	  						AJS.$("#comments").attr("height","100px");
							 	  					</script>
						 	  					</td>
						              		</tr>
						                  </tbody>
						            </table>     
		            			</td>
		            			##<td width="246px">
						        ##    <div id="not_popup_calendar" width="246px" padding-left="30px">
						        <td>
						            <div id="not_popup_calendar" style="float: right;">
						            	#if($isPopup != 1)
						            		<script>
											##This is the not popup calendar. Works but not nice
											Calendar.setup({
												firstDay : 0,
												align : 'Br',
												electric: true,
												date : '$dateFormated',
												singleClick : true,
												showOthers: true,
												useISO8601WeekNumbers : false,
												flat: 'not_popup_calendar',
												flatCallback: dateChanged,
												ifFormat : '%Y-%m-%d'
											});
											function dateChanged(calendar)
											  {
											      document.getElementById("date").value=calendar.date.print(calendar.params.ifFormat);
											      jQuery(document.getElementById("date")).change();
											  };
											
											</script>
											##Turn off the calendar shadow
											<style type="text/css">
												div.calendar {
													width: 246px;
													-moz-box-shadow: 0px 0px 0px #666;
													-webkit-box-shadow: 0px 0px 0px #666;
													box-shadow: 0px 0px 0px #666;
												}
											</style>
										#end
						            </div>
		            			</td>
		            	##	</tr>
		            	##	<tr>
		            	##		<td colspan="2">
						##            <table width="100%">
						##           	 
						##			</table>   
		            	##		</td>
		        		##	<tr>
		    	</tbody>
		    </table>
			#if($isEdit)
				<input id="Edit"  type="submit" name="edit" value="$i18n.getText('plugin.save')" class="button" tabindex="5"/>
			#elseif($isEditAll)
				<input id="editallsave"  type="submit" name="editallsave" value="$i18n.getText('plugin.save')" class="button" />	
				##set input fields disable
				<script>
				document.getElementById("startTime").disabled= true;
				document.getElementById("startNow").disabled= true;
				document.getElementById("radioEnd").disabled= true;
				document.getElementById("endTime").disabled= true;
				document.getElementById("endNow").disabled= true;
				document.getElementById("radioDuration").disabled= true;
				document.getElementById("durationTime").disabled= true;
				document.getElementById("issueSelect-textarea").disabled= true;
				document.getElementById("issueSelect-textarea").disabled= true;
				document.getElementById("comments").disabled= true;
				</script>
			#else
				<input id="Submit"  type="submit" name="submit" value="$i18n.getText('plugin.submit')" class="button" tabindex="5"/>
			#end
			<input id="cancelButton"  type="button" name="Cancel" value="$i18n.getText('plugin.cancel')" onclick="location.href='JiraTimetarckerWebAction!default.jspa?dateFormated=$dateFormated'" class="button"/>
			<input id="setting"  type="button" name="setting" onclick="location.href='JiraTimetrackerSettingsWebAction!default.jspa'" value="$i18n.getText('plugin.settings')" class="button" style="float: right; margin-right: 15px;"/>
			</div>
		</div>	
	</div>
	<script>
		window.onload = function() {
			document.getElementById("startTime").scrollLeft=0;
			document.getElementById("startTime").scrollIntoView();
			setExcludeDaysToWeekend();
			setLoggedDaysDesign();
 			document.getElementById("startTime").focus();
		 };
		 
	</script>	
</form>
