#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<a href="#" id="dialog-show-button" style="position: relative; bottom: 10px; margin-right: 5px;">$i18n.getText('jttp.send.feedback')</a>
<section role="dialog" id="jttp-feedback-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <!-- Dialog header -->
    <form name="jttpFeedbackForm" id="jttpFeedbackForm" method="post" action="JiraTimetrackerWebAction.jspa?dateFormatted=$dateFormatted" />
      <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h1 class="aui-dialog2-header-main">$i18n.getText('jttp.feedback.header')</h1>   
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
      </header>
      <!-- Main dialog content -->
      #parse("templates/feedback_content.vm")
      <!-- Dialog footer -->
      <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions" style="margin-right: 5px;" >
            <button id="dialog-close-button" class="aui-button aui-button-link">$i18n.getText('jttp.close')</button>
        </div>
        <div class="aui-dialog2-footer-actions" style="margin-right: 5px;">
            <button id="sendfeedback" type="submit" name="sendfeedback" class="aui-button">$i18n.getText('jttp.send')</button>
        </div>
      </footer>
    </form>
</section>

<script>
// Shows the dialog when the "Show dialog" button is clicked
AJS.$("#dialog-show-button").click(function() {
    AJS.dialog2("#jttp-feedback-dialog").show();
});
// SEND FEEDBACK and hide the dialog
AJS.$("#sendfeedback").click(function(e) {
    AJS.dialog2("#jttp-feedback-dialog").hide();
});

// Hides the dialog
AJS.$("#dialog-close-button").click(function(e) {
    e.preventDefault();
    AJS.dialog2("#jttp-feedback-dialog").hide();
});



</script>

