#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<head>
<title>Timetracker</title>
</head>
<body>

$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("org.everit.jira.timetracker.plugin:jttp-resources")
#if(!$debugMessage.isEmpty())
                  <div id="error_message">
                         $debugMessage
                  </div>
#end

	
	
<form name="jttpForm" id="jttpForm" method="post"
                    #if($isEdit) action="JiraTimetrackerWebAction.jspa?editedWorklogId=$editedWorklogId&dateFormatted=$dateFormatted" 
                    #elseif($isEditAll) action="JiraTimetrackerWebAction.jspa?editAllIds=$editAllIds&dateFormatted=$dateFormatted" 
                    #else action="JiraTimetrackerWebAction.jspa?dateFormatted=$dateFormatted" #end/>   
    #set($rendererType = "atlassian-wiki-renderer")
    #if($currentCalendar.useISO8601 == true)
        #set ($firstDay = 1)
    #else
        #set ($firstDay = 0)
    #end
<input id="firstDay" type="hidden" value="$firstDay" />
<input id="dateFormatted" type="hidden" value="$dateFormatted" />
<input id="currentCalendar" type="hidden" value="$currentCalendar" />
<input id="excludeDays" type="hidden" value="$excludeDays" />
<input id="isColoring" type="hidden" value="$isColoring" />
<input id="loggedDays" type="hidden" value="$loggedDays" />
<input id="isDurationSelected" type="hidden" value="$isDurationSelected" />
<input id="projectsId" type="hidden" value="$projectsId" />
<input id="isPopup" type="hidden" value="$isPopup" />
<input id="jiraMainVersion" type="hidden" value="$jiraMainVersion" />
<input id="issueKey" type="hidden" value="$issueKey" />
<input id="comment" type="hidden" value="$comment" />
<input id="isEditAll" type="hidden" value="$isEditAll" />

    <div id="plugin_head" class="item-header" >
            <div class="logo-img">
                <a href="http://www.everit.org/jira-timetracker-plugin/" target="_blank">
                    <img src="$contextPath/download/resources/org.everit.jira.timetracker.plugin:everit_tt_logo/everit_tt_logo.png" alt="Everit logo" height="42" width="42">
                </a>
            </div>
             <h1 class="item-summary" >Timetracker</h1>
      </div>
    <div id="main-content" class="content rounded">
        <div class="inside-content">
            ##TAB START
            <div class="tabwrap tabs2" id="tabs-jttp">
                <ul class="tabs horizontal">
                    <li class="active">
                        <a href="JiraTimetrackerWebAction!default.jspa"><strong>Timetracker</strong></a>
                    </li>
                    <li><a href="JiraTimetrackerWorklogsWebAction!default.jspa"><strong>Missing Days Report</strong></a></li>
                    <li><a href="JiraTimetrackerChartWebAction!default.jspa"><strong>Chart Report</strong></a></li>
                    <li><a href="JiraTimetrackerTableWebAction!default.jspa"><strong>Table Report</strong></a></li>
                </ul>
            </div>
            ##TAB END
              #if(!$message.isEmpty())
                  <div id="error_message">
                         $i18n.getText($message) $messageParameter
                  </div>
              #end
            #parse("templates/summary.vm")
            #parse("templates/list.vm")
               </br>
               <div id="inputfields" name="inputfields">
               <table id="inputfields-table" width="100%">
                   <tbody>
                       <tr>
                           <input id="editAll" type="button" name="editall" value="$i18n.getText('plugin.edit.all')" onclick="location.href='JiraTimetrackerWebAction!default.jspa?editAllIds=$worklogsIds&dateFormatted=$dateFormatted'" class="button" />
                           <td>
                            <table>
                                        <tbody>
                                            <tr>
                                                <td class="worklog-table-header-column">
                                                    <div>
                                                        $i18n.getText("plugin.start.time") <img src="$contextPath/images/required.png" width="16" height="16" border="0" />
                                                    </div>
                                                </td>
												<td />
                                                <td class="worklog-table-header-column">
                                                    <div>
                                                        <input id="radioEnd" type="radio" name="endOrDuration" value="end" checked="true" style="display: none;"> 
                                                        $i18n.getText("plugin.end.time")
                                                    </div>
                                                </td>
												<td />
                                                <td class="worklog-table-header-column">
                                                    <div>
                                                        <input id="radioDuration" type="radio" name="endOrDuration" value="duration" style="display: none;">
                                                        $i18n.getText("plugin.duration.time")
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="worklog-table-header-column">
                                                   <input id="startTime"  type="text" name="startTime" value="$startTime" onkeypress="handleEnterKey(event, '#endTime');" tabindex="1" class="time-input"/>
                                                </td>
                                                <td class="worklog-table-header-column">
                                                   <input id="startNow"  type="button" name="startNow" value="$i18n.getText('plugin.now')" class="button" onclick="startNowClick($startTimeChange);"/>
                                                </td>
                                                <td  class="worklog-table-header-column">
												  <span class="time-input-span">
                                                         <input id="endTime"  type="text" name="endTime" value="$endTime" onkeypress="handleEnterKey(event, '#issueSelect-textarea');" tabindex="2" class="time-input"/> 
                                                         <div id="endTimeInput" class="time-input-div" onclick="endTimeInputClick($isEditAll);"></div>
                                                      </span>
                                                 </td>
                                                 <td class="worklog-table-header-column">
                                                   <input id="endNow"  type="button" name="endNow" value="$i18n.getText('plugin.now')" class="button" onclick="endNowClick();"/>
                                                 </td>
                                                 <td class="worklog-table-header-column" >
                                                  <span class="time-input-span">
                                                     <input id="durationTime"  type="text" name="durationTime" onkeypress="handleEnterKey(event, '#issueSelect-textarea');" tabindex="2" disabled value="$durationTime" class="time-input"/>
                                                    <div id="durationTimeInput" class="time-input-div" onclick="durationTimeInput($isEditAll);"></div>
                                                  </span>
                                                 </td>
                                                <td />
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                   Issue: <img src="$contextPath/images/required.png" width="16" height="16" border="0"/>
                                                 <div id="issueSelect_container" class="ajax_autocomplete atlassian-autocomplete" >
                                                    <select class="hidden"
                                                        multiple="none" 
                                                        name="issueSelect" 
                                                        id="issueSelect" 
                                                        data-popup-link-message="" 
                                                        data-popup-width="620" 
                                                        data-popup-height="500" 
                                                        data-remove-on-un-select="true" 
                                                        data-ajax-options.query="true" 
                                                        data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker" 
                                                        data-ajax-options.data.query="-" 
                                                        data-ajax-options.data.current-issue-key=""
                                                        data-ajax-options.data.show-sub-tasks="true" 
                                                        data-ajax-options.data.show-sub-task-parent="true"
                                                        data-ajax-options.data.current_jql="resolution = Unresolved ORDER BY issuetype ASC, priority DESC">
                                                    </select> 

                                                 </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                 <td colspan="6" class="notes">
                                                    $i18n.getText("plugin.note"):</br>
                                                    #set($fieldId = "comments")
                                                    #parse("templates/plugins/renderers/wiki/wiki-renderer-edit.vm")
                                                   </td>
                                              </tr>
                                          </tbody>
                                    </table>     
                                </td>
                                <td>
                                    <div id="not_popup_calendar" class="not_popup_calendar">
									#if($isPopup != 1)
						            		<script>
											##This is the not popup calendar. Works but not nice
											Calendar.setup({
												firstDay : $firstDay,
												date : '$dateFormatted',
												align : 'Br',
												singleClick : true,
												showOthers: true,
												flat: 'not_popup_calendar',
												flatCallback: dateChanged,
												useISO8601WeekNumbers : $currentCalendar.useISO8601,
												ifFormat : '%Y-%m-%d'
											});
											function dateChanged(calendar)
											  {
											      document.getElementById("date").value=calendar.date.print(calendar.params.ifFormat);
											      jQuery(document.getElementById("date")).change();
											  };
											
											</script>
									#end
									</div>
                                </td>
                </tbody>
            </table>
            #if($isEdit)
                <input id="Edit"  type="submit" name="edit" value="$i18n.getText('plugin.save')" class="button" tabindex="5" />
            #elseif($isEditAll)
                <input id="editallsave"  type="submit" name="editallsave" value="$i18n.getText('plugin.save')" class="button" />    
            #else
                <input type="hidden" id="Submit" name="submit" disabled />
                <input id="Submitbutton" type="submit" name="submitbutton" value="$i18n.getText('plugin.submit')" class="button" tabindex="5"
                    onclick="submitButtonClick();"/>
            #end
            <input id="setting"  type="button" name="setting" onclick="location.href='JiraTimetrackerSettingsWebAction!default.jspa'" value="$i18n.getText('plugin.settings')" class="button settings-button" />
            <input id="cancelButton"  type="button" name="Cancel" value="$i18n.getText('plugin.cancel')" onclick="location.href='JiraTimetrackerWebAction!default.jspa?dateFormatted=$dateFormatted'" class="button"/>
            </div>
        </div>    
    </div> 
</form>

#if($analyticsCheck)
	#set($IDSITE = 1);
	#parse("templates/analytics.vm")
#end
</body>
</html>
