<html>
<head>
<title>Timetracker</title>
## Style Declaration
<style type="text/css">
	. grid td {
		text-align: center;
		vertical-align: inherit;
	}
	.rowHeader {
        background-color:#E2E2E2;
    }
    .rowAlter {
        background-color:#F2F2F2;
    }
    .rowEdit {
        background-color:#FFEAAE;
    }
    .button {
        padding: 2px;
    }
    .grid {
        font-family:Arial,Helvetica,sans-serif;
        font-size:12px;
        background-color:#FCFCFC;
        border:1px solid #D2D2D2;
        border-collapse:collapse;
    }
    .grid th, .grid td {
        border:1px solid #D2D2D2;   
        padding:4px;
    }
    
    input[type="text"]:disabled
	{
		background:#D3D3D3!important;
		background-color:#D3D3D3!important;
	}
   
    .calendar tbody td.logged{
    	background-color:  #FFFFC2;
    	font-weight: 500;
    }
    
    .calendar tbody td.othermonth.oweekend{
    	color:  #ec8484  ;
    }
    
    .calendar tbody td.othermonth{
    	color:  #7e7a7a  ;
    }
    
    .content {
		margin: 0 .714em .714em;
		position: relative;
	}
    .rounded {
		background-color: #fff;
		border: 1px solid #bbb;
		-moz-border-radius: .4em;
		-webkit-border-radius: .4em;
		border-radius: .4em;
	}
    .item-header {
		margin: 12px 12px 0 12px;
		min-height: 48px;
		position: relative;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
	}
	#main-content {
		min-width: 990px;
	}
	.item-header .item-summary {
		font-size: 2em;
		line-height: 1.167;
		margin: 0;
	}
	
	#issueSelect-textarea, #issueSelect-multi-select{
		width: 610px;
	}
	.jira-multi-select>.icon.drop-menu{
		bottom: 6px;
		right: 6px;
	}
	
</style>
</head>
<body>
<script>
	
	function calculateTimeForInputfileds(hour,min){
		if (hour < 10){
			hour = "0" + hour
		}
		if (min < 10){
			min = "0" + min
		}
		var time = hour + ':' + min;
		return time;
	}
	
	function setLoggedDaysDesign(){
		if($isColoring){
			var dayNumber =  $loggedDays.size();
		 	for(var i = 0; i < dayNumber; i++){
		 		var theDay = $loggedDays[i];
		 		var calendarDays = AJS.$('.day.day-'+theDay);
		 		for (var j=0;j<calendarDays.length;j++){
		 			if(!(AJS.$(calendarDays[j]).hasClass('selected') || AJS.$(calendarDays[j]).hasClass('othermonth') || AJS.$(calendarDays[j]).hasClass('logged'))){
		 				calendarDays[j].className += " logged";
		 			}
		 		}
		 	}
	 	}
	}
	
	function setExcludeDaysToWeekend(){
	 	var dayNumber =  $excludeDays.size();
	 	for(var i = 0; i < dayNumber; i++){
	 		var theDay = $excludeDays[i];
	 		var calendarDays = AJS.$('.day.day-'+theDay);
	 		for (var j=0;j<calendarDays.length;j++){
	 			if(!(AJS.$(calendarDays[j]).hasClass('selected') || AJS.$(calendarDays[j]).hasClass('othermonth') || AJS.$(calendarDays[j]).hasClass('weekend'))){
	 				calendarDays[j].className += " weekend";
	 			}
	 		}
	 	}
	}

	var original = Calendar.prototype.show;
	
	Calendar.prototype.show = function(){
		original.call(this);
		setExcludeDaysToWeekend();
		setLoggedDaysDesign();
	}
	
	
</script>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
<form name="jttpForm"  method="post"
					#if($isEdit) action="JiraTimetrackerWebAction.jspa?editedWorklogId=$editedWorklogId&dateFormated=$dateFormated" 
					#elseif($isEditAll) action="JiraTimetrackerWebAction.jspa?editAllIds=$editAllIds&dateFormated=$dateFormated" 
					#else action="JiraTimetrackerWebAction.jspa?dateFormated=$dateFormated" #end/>   
	#set($rendererType = "atlassian-wiki-renderer")
	#if($currentCalendar.useISO8601 == true)
		#set ($firstDay = 1)
	#else
		#set ($firstDay = 0)
	#end
	<div id="plugin_head" class="item-header" style="width:980px;">
			<div style="float: right;">
				<a href="http://www.everit.org/jira-timetracker-plugin/" target="_blank">
					<img src="$contextPath/download/resources/org.everit.jira.timetracker.plugin:everit_tt_logo/everit_tt_logo.png" alt="Everit logo" height="42" width="42" style:"float: right">
				</a>
			</div>
 			<h1 class="item-summary" style="display: inline-block; padding-top: 6px;">Timetracker</h1>
  	</div>
	<div id="main-content" class="content rounded" style="width:970px;">
		<div style="margin:10px; width:970px;">
			##TAB START
			<div class="tabwrap tabs2" id="tabs-jttp">
	    		<ul class="tabs horizontal">
	        		<li class="active">
	            		<a href="JiraTimetrackerWebAction!default.jspa"><strong>Timetracker</strong></a>
	        		</li>
	        		<li>
	            		<a href="JiraTimetrackerWorklogsWebAction!default.jspa"><strong>Missing Days Report</strong></a>
	        		</li>

	        		<li>
	            		<a href="JiraTimetrackerChartWebAction!default.jspa"><strong>Chart Report</strong></a>
	        		</li>

	    		</ul>
	    	</div>
			##TAB END
			<div id="message" style="color: red; ">
		 			$i18n.getText($message) $messageParameter
		  	</div>
		  	<table style="width: 100%; padding-right: 5px;">
		  		<!--
		  		<tr>
		  			<td colspan="6" style="width: 60%">
				  		<div class="field-group" >
						 	<label for="selectedUser" style="margin-right: 10px;">$i18n.getText('plugin.user.picker.label')</label>
							<select  id="selectedUser" class="js-default-user-picker single-user-picker" name="selectedUser">
							 #if(!(!$userPickerObject))
								<option selected="selected"
								  		data-field-text="$userPickerObject.getDisplayName()"
								  		style="background-image:url('$avatarURL')" 
								  		value="$userPickerObject.getKey()">
								  	$userPickerObject.getDisplayName()
								 </option>
							 #end
							</select>
							<input type="submit" id="selectUserSubmit"  name="selectUserSubmit" value="$i18n.getText('plugin.search')"  class="button" style="margin-left: 10px;"/>
							<script>
								AJS.$('.field-group').attr("style","display: inline-flex; width: 500px; height: 30px");
								AJS.$('.aui-ss-editing').attr("style","width: 250px;");
 								AJS.$('.aui-ss.aui-ss-editing .aui-ss-field').attr("style","width: 250px;");
							</script>
						</div>
					</td>
				</tr>
				-->
		  		<tr>
		  			<td rowspan="2" style="width: 35%">
					  	<input type="text" id="date" name="date" style="display: none" onchange="this.form.datesubmit.click()" />
						<input type="submit" id="datesubmit" name="datesubmit" class="spaced" style="display: none"/>
						<div id="calendar_div" style="text-align: left; vertical-align: inherit; float: left; padding:5px;">
						#if($isPopup != 2)
							<input type="submit" id="monthBack"  name="monthBack" value="<<<" class="button" title="$i18n.getText('plugin.prev.month')"/>
							<input type="submit" id="weekBack"  name="weekBack" value="<<" class="button"  title="$i18n.getText('plugin.prev.week')"/>
							<input type="submit" id="dayBack"  name="dayBack" value="<" class="button"  title="$i18n.getText('plugin.prev.day')"/>
							 $dateFormated
							<img id="date_trigger" src="$contextPath/images/icons/cal.gif" width="16" height="16" border="0"
								alt="Pick a date" style="vertical-align: sub;" title="$i18n.getText('plugin.choose.date')"/>
							<input type="submit" id="dayNext"  name="dayNext" value=">"  class="button" title="$i18n.getText('plugin.next.day')"/>
							<input type="submit" id="weekNext"  name="weekNext" value=">>"  class="button" title="$i18n.getText('plugin.next.week')"/>
							<input type="submit" id="monthNext"  name="monthNext" value=">>>" class="button" title="$i18n.getText('plugin.next.month')"/>
							<script>
							var cal= Calendar.setup({
								firstDay : $firstDay,
								inputField : 'date',
								button : 'date_trigger',
								date : '$dateFormated',
								align : 'Br',
								electric: false,
								singleClick : true,
								showOthers: true,
								useISO8601WeekNumbers : $currentCalendar.useISO8601,
								ifFormat : '%Y-%m-%d'
							});
							</script>
						#end
						</div>
					</td>
					<td align="right"  style="width: 20%">
						$i18n.getText("plugin.summary")
					</td>
					<td align="right" style="width: 5%">
						 $i18n.getText("plugin.day")
					</td>
					<td align="left" style="width: 80px;">
						 ($daySummary)
					</td>
					<td align="right" style="width: 5%">
						$i18n.getText("plugin.week")
					</td>
					<td align="left" style="width: 85px;">
						($weekSummary)
					</td>
					<td align="right" style="width: 5%">
						$i18n.getText("plugin.month")
					</td>
					<td align="left" style="width: 85px;">
						 ($monthSummary)
					</td>
				</tr>
				<tr>
					<td align="right" style="width: 15%" >
						#if($issuesRegex.size() != 0)
									$i18n.getText("plugin.real.work") $i18n.getText("plugin.summary")
								</td>
								<td align="right" style="width: 5%">
									$i18n.getText("plugin.day")
								</td>
								<td align="left" style="width: 80px;">
									($dayFilteredSummary)
								</td>
								<td align="right" style="width: 5%">
									$i18n.getText("plugin.week")
								</td>
								<td align="left" style="width: 85px;">
									($weekFilteredSummary)
								</td>
								<td align="right" style="width: 5%">
									$i18n.getText("plugin.month")
								</td>
								<td align="left" style="width: 85px;">
									($monthFilteredSummary)
						#end
					</td>
				</tr>
			</table>
		    #parse("templates/list.vm")
	   		</br>
	   		<div id="inputfields" name="inputfields">
	   		<table  width="100%">
	   			<tbody>
	   				<tr>
	   					<input id="editAll" type="button" name="editall" value="$i18n.getText('plugin.edit.all')" onclick="location.href='JiraTimetrackerWebAction!default.jspa?editAllIds=$worklogsIds&dateFormated=$dateFormated'" class="button" />
	   					<td>
							<table>
						                <tbody>
						                	<tr>
						                		<td style="width: 110px;">
						                			<div class="field-group" style="width: 95px;">
						                          	 	$i18n.getText("plugin.start.time") <img src="$contextPath/images/required.png" width="16" height="16" border="0" />
						                           </div>
						                		</td>
						                		<td>
						                		</td>
						                		<td style="width: 110px;">
							                		<div style="width: 110px;" >
						                				<input id="radioEnd" type="radio" name="endOrDuration" value="end" checked="true" style="display: none;"> 
						                				$i18n.getText("plugin.end.time")
						                			</div>
						                		</td>
						                		<td>
						                		</td>
						                		<td style="width: 120px">
						                			<div style="width: 120px;" >
						                				<input id="radioDuration" type="radio" name="endOrDuration" value="duration" style="display: none;">
						                				$i18n.getText("plugin.duration.time")
						                			</div>
						                		</td>
						                	 	<td width="auto">
						                    	</td>
						                	</tr>
						                    <tr>
						                        <td  style="width: 110px;">
						                           <input id="startTime"  type="text" name="startTime" onkeydown="return checkStartTimeEnter(event);" value="$startTime" tabindex="1" style="margin-right: 5px; width: 100px;"/>
						                           <script>
						                           function checkStartTimeEnter(event){
													    if (event.keyCode == 13) {
													      AJS.$("#endTime").focus();
													      return false;
													    }
													}
						                           </script>
						                        </td>
						                        <td style="width: 110px;">
						                           <input id="startNow"  type="button" name="startNow" value="$i18n.getText('plugin.now')" class="button" width: 40px;"/>
						                           <script>
						                           		var startState = 0;
														AJS.$("#startNow").click(function() {
					                   						if(startState == 0){
					                   							setStartNow();
					                   						}else if(startState == 1){
					                   						 	setStartInc();
					                   						}else if(startState == 2){
					                   							setStartDecTemporary();
					                   						}
					               						});
					               						function setStartNow(){
					               							var currentTime = new Date();
															var hour = currentTime.getHours();
															var minute = currentTime.getMinutes();
															startState = 1;
															var now = calculateTimeForInputfileds(hour,minute);
															AJS.$("#startTime").val(now);
					               						}
					               						function setStartDecTemporary(){
					               							setStartNow();
					               							var startTimeValParts = AJS.$("#startTime").val().split(':');
					               							var hour = parseInt(startTimeValParts[0]);
					               							var minString = startTimeValParts[1];
					               							var min = parseInt(minString);
					               							var minSubInt = parseInt(minString.substring(1,2));
					               							if((minSubInt != 0) && (minSubInt != 5)){
					               								min = min - $startTimeChange;
					               								if(minSubInt < 5){
						               								 	min = min + (5-minSubInt);
						               							}else if(minSubInt > 5){
						               								  	min = min + (10-minSubInt);
						               							}
					               								startState = 0;
					               							}
					               							var time = calculateTimeForInputfileds(hour,min);
															AJS.$("#startTime").val(time);
					               						}
					               						function setStartInc(){
					               							setStartNow();
					               							var startTimeValParts = AJS.$("#startTime").val().split(':');
					               							var hour = parseInt(startTimeValParts[0]);
					               							var min = parseInt(startTimeValParts[1]);
					               							min = min + $startTimeChange;
					               							if(min >= 60){
					               								min = min - 60;
					               								hour = hour + 1;
					               								if(hour > 23){
					               									hour = 0;
					               								}
					               							}
					               							var minString = min.toString();
					               							var minSubInt;
					               							if(minString.length > 1){
					               							 minSubInt = parseInt(minString.substring(1,2));
					               							}else{
					               							 minSubInt = min;
					               							}
					               							if(minSubInt >= 5){
					               								min = min - (minSubInt - 5);
					               							}else{
					               								min = min - minSubInt;
					               							}
					               							startState = 2;
															var time = calculateTimeForInputfileds(hour,min);
															AJS.$("#startTime").val(time);
					               						}
													</script>
						                        </td>
												<td  style="width: 110px">
													<span style="position:relative;">
						                    	 		<input id="endTime"  type="text" name="endTime" value="$endTime" tabindex="2" onkeydown="return checkSEndTimeEnter(event);" style="margin-right: 5px; width: 100px;"/> 
						                    	 		<div id="endTimeInput" style="position:absolute; left:0; right:0; top:0; bottom:0;" ></div>
						                    	  	</span>
						                    	 	<script>
						                    	 	   AJS.$("#endTimeInput").click(function (evt) {
						                    	 	      #if(!$isEditAll)
														    AJS.$(this).css("cursor","text").hide().prev().prop("disabled", false).css("cursor","text").focus();
														    AJS.$("#durationTimeInput").css("cursor","pointer").show().prev("input").prop("disabled", true).css("cursor","pointer");
														    AJS.$("#radioEnd").prop("checked", true);
														  #end
														});
														
							                           function checkSEndTimeEnter(event){
														    if (event.keyCode == 13) {
														      AJS.$("#issueSelect-textarea").focus();
												                return false;
														    }
														}
							                           </script>
						                    	 </td>
						                    	 <td style="width: 85px;">
						                    	   <input id="endNow"  type="button" name="endNow" value="$i18n.getText('plugin.now')" class="button" width: 40px;"/>
						                           <script>
						                           		var endState = 0;
														AJS.$("#endNow").click(function() {
					                   						if(endState == 0){
					                   							setEndNow();
					                   						}else if(endState == 1){
					                   						 	setEndInc();
					                   						}else if(endState == 2){
					                   							setEndDecTemporary();
					                   						}	
					               						 });
					               						 function setEndNow(){
					               						 	var currentTime = new Date();
															var hour = currentTime.getHours();
															var minute = currentTime.getMinutes();
															endState = 1;
															var now =calculateTimeForInputfileds(hour,minute);
															AJS.$("#endTime").val(now);
					               						 }
					               						
					               						 function setEndDecTemporary(){
					               							setEndNow();
					               							var endTimeValParts = AJS.$("#endTime").val().split(':');
					               							var hour = parseInt(endTimeValParts[0]);
					               							var minString = endTimeValParts[1];
					               							var min = parseInt(minString);
					               							var minSubInt = parseInt(minString.substring(1,2));
					               							if((minSubInt != 0) && (minSubInt != 5)){
					               								min = min - $endTimeChange;
					               								var checkHour = false;
					               								if(min < 0){
					               									min = 60 + min;
					               									checkHour = true;
					               									minSubInt =  parseInt(min.toString().substring(1,2));;
					               								}
					               								if(minSubInt < 5){
						               								 	min = min + (5-minSubInt);
						               							}else if(minSubInt > 5){
						               								  	min = min + (10-minSubInt);
						               							}
						               							if(checkHour){
						               								if(min != 60){
						               									hour = hour - 1;
						               									if(hour < 0){
						               								 		hour = 23;
						               									}
						               								}else{
						               								 	min = 0;
						               								} 
						               							}
					               								endState = 0;
					               							}
					               							var time = calculateTimeForInputfileds(hour,min);
															AJS.$("#endTime").val(time);
					               							
					               						}
					               						function setEndInc(){
					               							setEndNow();
					               							var endTimeValParts = AJS.$("#endTime").val().split(':');
					               							var hour = parseInt(endTimeValParts[0]);
					               							var min = parseInt(endTimeValParts[1]);
					               							min = min + $endTimeChange;
					               							if(min >= 60){
					               								min = min - 60;
					               								hour = hour + 1;
					               								if(hour > 23){
					               									hour = 0;
					               								} 
					               							}
					               							var minString = min.toString();
					               							var minSubInt;
					               							if(minString.length > 1){
					               							 minSubInt = parseInt(minString.substring(1,2));
					               							}else{
					               							 minSubInt = min;
					               							}
					               							if(minSubInt >= 5){
					               								min = min - (minSubInt - 5);
					               							}else{
					               								min = min - minSubInt;
					               							}
					               							endState = 2;
															var time = calculateTimeForInputfileds(hour,min);
															AJS.$("#endTime").val(time);
					               						}  
													</script>
						                    	 </td>
						                    	 <td  style="width: 120px" >
						                    	  <span style="position:relative;">
						                    	 	<input id="durationTime"  type="text" name="durationTime" tabindex="2" disabled value="$durationTime" onkeydown="return checkDurationTimeEnter(event);" style="width: 100px"/>
						                    		<div id="durationTimeInput" style="position:absolute; left:0; right:0; top:0; bottom:0;" ></div>
						                    	  </span>
						                    		<script>
							                    		#if($isDurationSelected)
															AJS.$("#durationTimeInput").css("cursor","text").hide().prev("input[disabled]").prop("disabled", false).css("cursor","text").focus();
															AJS.$("#endTimeInput").css("cursor","pointer").show().prev("input").prop("disabled", true).css("cursor","pointer");
															AJS.$("#radioDuration").prop("checked", true);
														#else
															AJS.$("#endTimeInput").css("cursor","text");
															AJS.$("#durationTimeInput").css("cursor","pointer");
														#end
														
										                AJS.$("#durationTimeInput").click(function (evt) {
										                 #if(!$isEditAll)
														    AJS.$(this).css("cursor","text").hide().prev("input[disabled]").prop("disabled", false).css("cursor","text").focus();
														    AJS.$("#endTimeInput").css("cursor","pointer").show().prev("input").prop("disabled", true).css("cursor","pointer");
														    AJS.$("#radioDuration").prop("checked", true);
														 #end
														});
														
							                           function checkDurationTimeEnter(event){
														    if (event.keyCode == 13) {
														      AJS.$("#issueSelect-textarea").focus();
												                return false;
														    }
														}
							                           </script>
						                    	 </td>
						                    	<td width="auto">
						                    	</td>
						                    </tr>
						                    <tr>
						                    	<td colspan="6">
						                           Issue: <img src="$contextPath/images/required.png" width="16" height="16" border="0"/>
											 	<div id="issueSelect_container" class="ajax_autocomplete atlassian-autocomplete" >
										    		<select class="hidden"
										    			multiple="none" 
										    			name="issueSelect" 
														id="issueSelect" 
										    			data-popup-link-message="" 
										    			data-popup-width="620" 
										    			data-popup-height="500" 
										    			data-remove-on-un-select="true" 
										    			data-ajax-options.query="true" 
										    			data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker" 
										    			data-ajax-options.data.query="-" 
										    			data-ajax-options.data.current-issue-key=""
										    			data-ajax-options.data.show-sub-tasks="true" 
												    	data-ajax-options.data.show-sub-task-parent="true"
														data-ajax-options.data.current_jql="resolution = Unresolved ORDER BY issuetype ASC, priority DESC">
													</select> 
										    		<script>
														var ip = new AJS.IssuePicker({
												  		element: AJS.$("#issueSelect"),
												  		userEnteredOptionsMsg: AJS.params.enterIssueKey,
												  		uppercaseUserEnteredOnSelect: true,
												  		singleSelectOnly: true,
												   		currentProjectId: $projectsId,
														});
														//AJS.$('.drop-menu').attr("style","margin-top: 1px;");
														AJS.$('.issue-picker-popup').attr("style","margin-bottom: 16px;");

														#if($isPopup != 1)
															#if($jiraMainVersion < 6)
																AJS.$("#issueSelect-multi-select").attr("style","width: 630px;");
																AJS.$("#issueSelect-textarea").attr("style","width: 605px; height: 20px");
															#else
																AJS.$("#issueSelect-multi-select").attr("style","width: 630px;");
																AJS.$("#issueSelect-textarea").attr("style","width: 625px; height: 30px");
															#end

														#else
															#if($jiraMainVersion < 6)
																AJS.$("#issueSelect-multi-select").attr("style","width: 930px;");
																AJS.$("#issueSelect-textarea").attr("style","width: 905px; height: 20px");
															#else
																AJS.$("#issueSelect-multi-select").attr("style","width: 910px;");
																AJS.$("#issueSelect-textarea").attr("style","width: 905px; height: 30px");
															#end

														#end	
														//Set the issue key		
														AJS.$("#issueSelect-textarea").append("$issueKey");
														AJS.$("#issueSelect-textarea").attr("tabindex","3");

														ip.handleFreeInput();
													</script>
											 	</div>
						                        </td>
						                    </tr>
						                    <tr>
						            	 		<td colspan="6" class="notes">
							                    	$i18n.getText("plugin.note"):</br>
							                    	#set($fieldId = "comments")
							                    	#parse("templates/plugins/renderers/wiki/wiki-renderer-edit.vm")
							 	  					<script>
							 	  						#if($isPopup != 1)
							 	  						  AJS.$("#comments-wiki-edit").attr("style","width: 650px;");
							 	  						  AJS.$("#comments").attr("style","width: 650px");
							 	  						#else
							 	  						  AJS.$("#comments-wiki-edit").attr("style","width: 100%;");
							 	  						  AJS.$("#comments").attr("style","width: 100%");	
							 	  						#end 
							 	  						AJS.$("#comments").append("$comment");
							 	  						AJS.$("#comments").attr("tabindex","4");
							 	  						AJS.$("#comments").attr("height","100px");
							 	  					</script>
						 	  					</td>
						              		</tr>
						                  </tbody>
						            </table>     
		            			</td>
						        <td>
						            <div id="not_popup_calendar" style="float: right;">
						            	#if($isPopup != 1)
						            		<script>
											##This is the not popup calendar. Works but not nice
											Calendar.setup({
												firstDay : $firstDay,
												date : '$dateFormated',
												align : 'Br',
												singleClick : true,
												showOthers: true,
												flat: 'not_popup_calendar',
												flatCallback: dateChanged,
												useISO8601WeekNumbers : $currentCalendar.useISO8601,
												ifFormat : '%Y-%m-%d'
											});
											function dateChanged(calendar)
											  {
											      document.getElementById("date").value=calendar.date.print(calendar.params.ifFormat);
											      jQuery(document.getElementById("date")).change();
											  };
											
											</script>
											##Turn off the calendar shadow
											<style type="text/css">
												div.calendar {
													-moz-box-shadow: 0px 0px 0px #666;
													-webkit-box-shadow: 0px 0px 0px #666;
													box-shadow: 0px 0px 0px #666;
													z-index: inherit;
												}
											</style>
										#end
						            </div>
		            			</td>
		    	</tbody>
		    </table>
			#if($isEdit)
				<input id="Edit"  type="submit" name="edit" value="$i18n.getText('plugin.save')" class="button" tabindex="5" />
			#elseif($isEditAll)
				<input id="editallsave"  type="submit" name="editallsave" value="$i18n.getText('plugin.save')" class="button" />	
				##set input fields disable
				<script>
				document.getElementById("startTime").disabled= true;
				document.getElementById("startNow").disabled= true;
				document.getElementById("endTime").disabled= true;
				document.getElementById("endNow").disabled= true;
				document.getElementById("durationTime").disabled= true;
				document.getElementById("issueSelect-textarea").disabled= true;
				document.getElementById("issueSelect-textarea").disabled= true;
				document.getElementById("comments").disabled= true;
				</script>
			#else
				<input id="Submit"  type="submit" name="submit" value="$i18n.getText('plugin.submit')" class="button" tabindex="5"/>
			#end
			<input id="setting"  type="button" name="setting" onclick="location.href='JiraTimetrackerSettingsWebAction!default.jspa'" value="$i18n.getText('plugin.settings')" class="button" style="display: inline; float: right;"/>
			<input id="cancelButton"  type="button" name="Cancel" value="$i18n.getText('plugin.cancel')" onclick="location.href='JiraTimetrackerWebAction!default.jspa?dateFormated=$dateFormated'" class="button"/>
			</div>
		</div>	
	</div>
	<script>
		window.onload = function() {
			document.getElementById('inputfields').scrollIntoView(allignWithTop=false);
			setExcludeDaysToWeekend();
			setLoggedDaysDesign();
 			document.getElementById("startTime").focus();
 			AJS.$('.aui-ss-editing').attr("style","width: 250px;");
 			AJS.$('.aui-ss.aui-ss-editing .aui-ss-field').attr("style","width: 250px;");
		 };
		 
		 AJS.$('.table-endtime').click(function(){
		 	var temp = new String(AJS.$(this).html());
		 	AJS.$('#startTime').val(temp.trim());
		 });
		 AJS.$('.table-starttime').click(function(){
		 	var temp = new String(AJS.$(this).html());
		 	AJS.$('#endTime').val(temp.trim());
		 });
		 
		 AJS.$('.table-comment').click(function(){
		 
		 var temp = AJS.$(this).find('#hiddenWorklogBody').val();
		
		 var temp2 = temp.replace(/(\\r\\n|\\n|\\r)/gm, "&#013;");
		 var temp3 = temp.replace(/(\\r\\n|\\n|\\r)/gm, "\n");
     
     	 AJS.$("#comments").html(temp2);
     	 AJS.$("#comments").val(temp3);
		 });
		 
		 AJS.$('.table-issue').click(function(){
		 	AJS.$('#issueSelect-textarea').parent().find('.item-delete').click();
		 	
		 	var temp = new String(AJS.$(this).find('a').html());
		 	AJS.$('#issueSelect-textarea').val(temp.trim());
		 	AJS.$('#issueSelect-textarea').focus();
		 	AJS.$('#Edit').focus();
		 	AJS.$('#Submit').focus();
		 });
		 
		 AJS.$('.copy').click(function(){
		    AJS.$('#issueSelect-textarea').parent().find('.item-delete').click();
		    
		 	var temp = AJS.$(this).parent().parent().find('.table-issue').find('a').html();
		 	AJS.$('#issueSelect-textarea').val(temp.trim());
		 	
		 	temp = AJS.$(this).parent().parent().find('#hiddenWorklogBody').val();
		 	var temp2 = temp.replace(/(\\r\\n|\\n|\\r)/gm, "&#013;");
		 	var temp3 = temp.replace(/(\\r\\n|\\n|\\r)/gm, "\n");
		 	
		 	AJS.$("#comments").html(temp2);
		 	AJS.$("#comments").val(temp3);
		 	
		 	AJS.$('#issueSelect-textarea').focus();
		 	AJS.$('#Submit').focus();
		 });
		 
	</script>	
</form>
</body>
</html>
