#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
$webResourceManager.requireResource("jira.webresources:dwr", null)   
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
<style type="text/css">
{
margin-bottom: 0em;
}
.table-endtime:hover, .table-starttime:hover, .table-issue:hover, .table-comment:hover{
cursor:pointer;
}
span{
cursor:pointer;
}
</style>
#set($rowCount = 0)
<div class="results-wrap">
	<div>
	    <table class="grid" border="0" cellpadding="2" cellspacing="0" width="100%">
	              <thead>
	                   <tr class="rowHeader">
	                       <td width="10%" style="text-align: center;" title="$i18n.getText('jttp.list.title.issue')">
	                           Issue
	                        </td>
	                        <td width="5%" style="text-align: center;" title="$i18n.getText('jttp.list.title.remaining')"> 
	                          $i18n.getText("plugin.remaining")
	                        </td>
	                        <td width="5%" style="text-align: center;" title="$i18n.getText('jttp.list.title.start')">
	                           $i18n.getText("plugin.start")
	                        </td>
	                        <td width="5%" style="text-align: center;" title="$i18n.getText('jttp.list.title.end')">
	                           $i18n.getText("plugin.end")
	                        </td>
	                        <td width="5%" style="text-align: center;" title="$i18n.getText('jttp.list.title.duration')"> 
	                          $i18n.getText("plugin.duration")
	                        </td>
	                        <td width="60%" style="text-align: center;" title="$i18n.getText('jttp.list.title.note')">
	                          $i18n.getText("plugin.note")
	                        </td>
	                        <td width="10%" style="text-align: center;" title="$i18n.getText('jttp.list.title.actions')">
	                          $i18n.getText("plugin.actions")
	                        </td>
	                    </tr>
                    </thead>
                    #if($worklogs.size() == 0)
            			</table>
            			<div id="message" style="text-align: center; padding: 3px; font-size: 14px;">
				 			$i18n.getText("plugin.no.worklogs")
					  	</div>
                    #else
                    	<tbody id="issueTable">
		                   	#foreach ($worklog in $worklogs)
		                    	<tr #if($worklog.worklogId == $editedWorklogId) class="rowEdit" #end #if($rowCount % 2 != 0) class="rowAlter" #end>
		                    	 	<td class="table-issue" style="vertical-align: middle; white-space: nowrap; #if($worklog.isClosed) text-decoration: line-through; #end">
		                    	 		<a href="/browse/$worklog.issue" class="issue-link" title="#if($worklog.issueParent != '') $i18n.getText('plugin.parent.issue') $worklog.issueParent &#13 $worklog.issueSummary #else $worklog.issueSummary #end">$worklog.issue</a>
		                    	 	</td>
		                    	 	<td style="vertical-align: middle;">
		                    	 		#if($worklog.isMoreEstimatedTime)
											<div title="$worklog.exactRemaining">$worklog.roundedRemaining<div>
										#else
		                    	 			<div title="$worklog.exactRemaining" style="color:red;">$worklog.roundedRemaining</div>
										#end
		                    	 	</td>
		                    	 	<td class="table-starttime" style="vertical-align: middle;">
		                    	 		$worklog.startTime
		                    	 	</td>
		                    	 	<td class="table-endtime" style="vertical-align: middle;">
		                    	 		$worklog.endTime
		                    	 	</td>
		                    	 	<td style="vertical-align: middle; white-space: nowrap;">
		                    	 		$worklog.duration
		                    	 	</td>
		                    	 	<td id="commentRow_$rowCount" name="commentRow_$rowCount" class="table-comment wiki-edit-content" style="vertical-align: middle;">
		                    	 		<input id="hiddenWorklogBody" type="hidden" value="$worklog.body">
		                    	 	</td>
		                    	 	<script>
				                    	 		jQuery.ajax({
				                    	 			url:  "${req.contextPath}/rest/api/1.0/render",
	                								contentType: "application/json",
	                								type:'POST',
	                								data: JSON.stringify({
	                    								rendererType: "atlassian-wiki-renderer",
	                    								unrenderedMarkup: "$worklog.body"
	                								}),
	                								dataType: "text",
	                								success: function(data){
	                								data = data.replace('<p>','');
	                								data = data.replace('</p>','');
			                    	 				AJS.$("#commentRow_$rowCount").append(data);
			                    	 				AJS.$("#commentRow_$rowCount").attr("style","vertical-align: middle;");
			                    	 			}
	            								}); 
	            					</script>
		                    	 	<td style="vertical-align: middle; text-align: center;>
		                    	 		<input id="hiddenWorklogId" type="hidden" value="$worklog.worklogId" >
		                    	 		<span class="aui-icon aui-icon-small aui-iconfont-edit"
		                    	 			id="edit" name="edit" title="$i18n.getText('plugin.edit')"
		                    	 			style="margin:3px"
		                    	 			onclick="location.href='JiraTimetrackerWebAction.jspa?editedWorklogId=$worklog.worklogId&dateFormatted=$dateFormatted'"></span>
		                    	 		<span class="aui-icon aui-icon-small #if($jiraVersion.substring(0, 3) == '6.2') aui-iconfont-remove #else aui-iconfont-delete #end"
		                    	 			id="delete" name="delete" title="$i18n.getText('plugin.delete')"
		                    	 			style="margin:3px"
		                    	 			onclick="location.href='JiraTimetrackerWebAction!default.jspa?deletedWorklogId=$worklog.worklogId&dateFormatted=$dateFormatted'"></span>
		                    	 		<span class="aui-icon aui-icon-small #if($jiraVersion.substring(0, 3) == '6.2') aui-iconfont-doc #else aui-iconfont-copy-clipboard #end copy"
		                    	 			style="margin:3px"
		                    	 			id="copy" name="copy" title="$i18n.getText('plugin.copy')"></span>
		                    	 	</td>
		                    	</tr>
		                    	#set($rowCount = $rowCount + 1)
		                    #end
		                </tbody>
		            </table>
		            #end
		        </div>
		    </div>