$webResourceManager.requireResource("jira.webresources:dwr", null)   
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
<style type="text/css">
{
margin-bottom: 0em;
}
</style>
#set($rowCount = 0)
<div class="results-wrap">
	<div>
	    <table class="grid" border="0" cellpadding="2" cellspacing="0" width="100%">
	              <thead>
	                   <tr class="rowHeader">
	                       <td width="10%">
	                           Issue
	                        </td>
	                        <td width="5%">
	                           $i18n.getText("plugin.start")
	                        </td>
	                        <td width="5%">
	                           $i18n.getText("plugin.end")
	                        </td>
	                        <td width="5%"> 
	                          $i18n.getText("plugin.duration")
	                        </td>
	                        <td width="65%">
	                          $i18n.getText("plugin.note")
	                        </td>
	                        <td width="5%">
	                          $i18n.getText("plugin.edit")
	                        </td>
	                        <td width="5%">
	                          $i18n.getText("plugin.delete")
	                        </td>
	                    </tr>
                    </thead>
                    #if($worklogs.size() == 0)
            			</table>
            			<div id="message" style="text-align: center; padding: 3px; font-size: 14px;">
				 			$i18n.getText("plugin.no.worklogs")
					  	</div>
                    #else
                    	<tbody>
		                   	#foreach ($worklog in $worklogs)
		                    	<tr #if($rowCount % 2 != 0) class="rowAlter" #end>
		                    	 	<td>
		                    	 		<a href="/browse/$worklog.issue" class="issue-link">$worklog.issue</a>
		                    	 		
		                    	 		#if(!$worklog.isMoreEstimatedTime)
		                    	 			<img id="no_estimated" src="/images/icons/priority_blocker.gif" width="16" height="16" border="0"
															alt="No more estimated time. Check the issue." style="vertical-align: text-bottom;"/>
										#end
		                    	 	</td>
		                    	 	<td>
		                    	 		$worklog.startTime
		                    	 	</td>
		                    	 	<td>
		                    	 		$worklog.endTime
		                    	 	</td>
		                    	 	<td>
		                    	 		$worklog.duration
		                    	 	</td>
		                    	 	<td id="commentRow_$rowCount" name="commentRow_$rowCount">
			                    	 		<script>
			                    	 			
				                    	 		jQuery.ajax({
				                    	 			url:  "${req.contextPath}/rest/api/1.0/render",
	                								contentType: "application/json",
	                								type:'POST',
	                								data: JSON.stringify({
	                    								rendererType: "$rendererType",
	                    								unrenderedMarkup: "$worklog.body",
	                    								issueKey: "$worklog.issue",
                   										projectId: "",
                    									issueType: ""
	                								}),
	                								dataType: "html",
	                								success: function(data){
			                    	 				AJS.$("#commentRow_$rowCount").append(data);
			                    	 			}
	            								}); 
	            								
	            								
			                    	 			
			                    	 		</script>
		                    	 	</td>
		                    	 	<td>
		                    	 		<input id="hiddenWorklogId" type="hidden" value="$worklog.worklogId" >
		                    	 		<input id="edit" type="button" name="edit" value="$i18n.getText('plugin.edit')" onclick="location.href='JiraTimetarckerWebAction!default.jspa?editedWorklogId=$worklog.worklogId&dateFormated=$dateFormated'" class="button" />
		                    	 	</td>
		                    	 	<td>
		                    	 		<input id="delete" type="button" name="delete" value="$i18n.getText('plugin.delete')" onclick="location.href='JiraTimetarckerWebAction!default.jspa?deletedWorklogId=$worklog.worklogId&dateFormated=$dateFormated'" class="button"/>
		                    	 	</td>
		                    	</tr>
		                    	#set($rowCount = $rowCount + 1)
		                    #end
		                </tbody>
		            </table>
		            #end
		        </div>
		    </div>