#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<section role="dialog" id="reporting-dialog" class="aui-layer aui-dialog2 aui-dialog2-large" aria-hidden="true">
    <!-- Dialog header -->
   <form name="reportingForm" id="reportingForm" method="post" action="JiraTimetrackerWebAction.jspa?dateFormatted=$dateFormatted" class="aui"/>
      <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h1 class="aui-dialog2-header-main" style="color: #707070;">$i18n.getText('jttp.reporting.header')</h1>   
      </header>
      <!-- Main dialog content -->
      <div class="aui-dialog2-content form-body" style="height: 500px;">
        <div id="reportingError" style="margin-bottom: 5px; width: 100%; float: left; display: none;" class="error_message">
          <p>$i18n.getText('jttp.feedback.missing')</p>
        </div>
        <table style="width: 100%;">
          <tr>
            <td colspan="2">
              $i18n.getText('jttp.reporting.desc')
            </td>
          </tr>
          <tr>
            <td colspan="2" class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.1') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
             <input type="checkbox" value="1" name="answer1"/> $i18n.getText('jttp.reporting.answer.1.1') <input type="checkbox" value="2" name="answer1"/> $i18n.getText('jttp.reporting.answer.1.2') <input type="checkbox" value="3" name="answer1"/> $i18n.getText('jttp.reporting.answer.1.3') <input type="checkbox" value="4" name="answer1"/> $i18n.getText('jttp.reporting.answer.1.4')
            </td>
          </tr>
          <tr>
            <td colspan="2"  class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.2') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="checkbox" value="1" name="answer2"/> $i18n.getText('jttp.reporting.answer.2.1') <input type="checkbox" value="2" name="answer2"/> $i18n.getText('jttp.reporting.answer.2.2') <input type="checkbox" value="3" name="answer2"/> $i18n.getText('jttp.reporting.answer.2.3') <input type="checkbox" value="4" name="answer2"/> $i18n.getText('jttp.reporting.answer.2.4')
              <input type="checkbox" value="5" name="answer2"/> $i18n.getText('jttp.reporting.answer.2.5') <input type="checkbox" value="6" name="answer2"/> $i18n.getText('jttp.reporting.answer.2.6') <input type="checkbox" value="7" name="answer2"/> $i18n.getText('jttp.reporting.answer.2.7') <input type="checkbox" value="8" name="answer2"> $i18n.getText('jttp.reporting.answer.2.8') </input>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.3') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
             <input type="checkbox" value="1" name="answer3"/> $i18n.getText('jttp.reporting.answer.3.1') <input type="checkbox" value="2" name="answer3"/> $i18n.getText('jttp.reporting.answer.3.2') <input type="checkbox" value="3" name="answer3"/> $i18n.getText('jttp.reporting.answer.3.3')
            </td>
          </tr>
          <tr>
            <td colspan="2"  class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.9') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="checkbox" value="1" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.1') <input type="checkbox" value="2" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.2') <input type="checkbox" value="3" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.3') <input type="checkbox" value="4" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.4')
              <input type="checkbox" value="5" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.5') <input type="checkbox" value="6" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.6') <input type="checkbox" value="7" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.7') <input type="checkbox" value="8" name="answer9"> $i18n.getText('jttp.reporting.answer.9.8') </input>
              <input type="checkbox" value="9" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.9') <input type="checkbox" value="10" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.10') <input type="checkbox" value="11" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.11') <input type="checkbox" value="12" name="answer9"> $i18n.getText('jttp.reporting.answer.9.12') </input>
              <input type="checkbox" value="13" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.13') <input type="checkbox" value="14" name="answer9"/> $i18n.getText('jttp.reporting.answer.9.14') 
            </td>
          </tr>
          <tr>
            <td colspan="2"  class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.4') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
             <input type="checkbox" value="1" name="answer4"/> $i18n.getText('jttp.reporting.answer.4.1') <input type="checkbox" value="2" name="answer4"/> $i18n.getText('jttp.reporting.answer.4.2') <input type="checkbox" value="3" name="answer4"/> $i18n.getText('jttp.reporting.answer.4.3') <input type="checkbox" value="4" name="answer4"/> $i18n.getText('jttp.reporting.answer.4.4') <input type="checkbox" value="5" name="answer4"/> $i18n.getText('jttp.reporting.answer.4.5')
            </td>
          </tr>
          <tr>
            <td colspan="2" class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.5') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="radio" name="answer5" value="1"/> $i18n.getText('jttp.reporting.answer.5.1') <input type="radio" name="answer5" value="2"/> $i18n.getText('jttp.reporting.answer.5.2') <input type="radio" name="answer5" value="3"/> $i18n.getText('jttp.reporting.answer.5.3')
            </td>
          </tr>
          <tr>
            <td colspan="2" class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.6') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="radio" name="answer6" value="1"/> $i18n.getText('jttp.reporting.answer.5.1') <input type="radio" name="answer6" value="2"/> $i18n.getText('jttp.reporting.answer.5.2') <input type="radio" name="answer6" value="3"/> $i18n.getText('jttp.reporting.answer.5.3')
            </td>
          </tr>
          <tr>
            <td colspan="2" class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.7') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <textarea id="reportinginput7" name="reportinginput7" style="width: 75%; height: 130px; resize: none; border-radius: 0.3em;"></textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2" class="question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.question.8') </label> 
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <textarea id="reportinginput8" name="reportinginput8" style="width: 75%; height: 130px; resize: none; border-radius: 0.3em;"></textarea>
            </td>
          </tr>
          <tr>
            <td class="label_td_left question">
              <label style="margin-bottom: 5px;">$i18n.getText('jttp.reporting.customer.mail')</label>
              <input type="text" id="reportingCustomerMail" name="customerMail" class="text"/> <span class="aui-icon aui-icon-small aui-iconfont-help" style="cursor: pointer;" title="$i18n.getText('jttp.reporting.mail.help')">help</span>
            </td>
          </tr>
        </table>
      </div>
      <!-- Dialog footer -->
      <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions" style="margin-right: 5px;" >
            <button id="reporting-close-button" class="aui-button aui-button-link">$i18n.getText('jttp.reporting.close')</button>
        </div>
        <div class="aui-dialog2-footer-actions" style="margin-right: 15px;">
            <button id="reporting-send-button" type="submit" name="reporting-send-button" class="aui-button-primary aui-button" #if(!$feedBackSendAviable) disabled #end >$i18n.getText('jttp.reporting.send')</button>
        </div>
        #if(!$feedBackSendAviable)
            <div class="aui-dialog2-footer-hint">$i18n.getText('jttp.reporting.no.mail')</div>
        #end
      </footer>
    </form>
</section>

<script>

window.onhashchange = jttpReportDialogShow();
window.onload = jttpReportDialogShow();

// SEND FEEDBACK and hide the dialog
AJS.$("#reporting-send-button").click(function(e) {
     AJS.dialog2("#reporting-dialog").hide();
});

// Hides the dialog
AJS.$("#reporting-close-button").click(function(e) {
    e.preventDefault();
    AJS.dialog2("#reporting-dialog").hide();
});

</script>
