## Style Declaration
<style type="text/css">
	.rowHeader {
        background-color:#E2E2E2;
    }
    .rowAlter {
        background-color:#F2F2F2;
    }
    .button {
        padding: 2px;
    }
    .grid {
        font-family:Arial,Helvetica,sans-serif;
        font-size:12px;
        background-color:#FCFCFC;
        border:1px solid #D2D2D2;
        border-collapse:collapse;
    }
    .grid th, .grid td {
        border:1px solid #D2D2D2;
        padding:4px;
    }
   
</style>
<form name="myForm"  method="post" action="JiraTimetrackerSettingsWebAction.jspa"/>   
	<div id="plugin_head" class="item-header">
 			<h1 class="item-summary">Timetracker Settings</h1>
  	</div>
  	<div id="main-content" class="content rounded" >
		<div style="margin:10px; ">
			<table  width="80%" padding:"5px" >
				<tbody>
					<tr>
						<td colspan="2">
							<div style="margin-top: 10px; margin-bottom: 10px;">
								<strong>$i18n.getText("plugin.personal.settings")</strong>
							<div>
						</td>
					</tr>
		        	<tr>
						<td width="20%">
							$i18n.getText("plugin.setting.ispopup"): 
						</td>
						<td width="80%">
						 	#if($isPopup)
                         		<input id="calendarPopupCheckBox" checked="checked" type="checkbox" name="calendarPopupCheckBox" value="true" class="checkbox" style="margin-right: 10px"/>
                     		#else
                         		<input id="calendarPopupCheckBox" type="checkbox" name="calendarPopupCheckBox" value="true" class="checkbox" style="margin-right: 10px" />
                      		#end
						</td>
					</tr>
					<tr>
						<td width="20%">
							$i18n.getText("plugin.setting.isactualdate"):  
						</td>
						<td width="80%">
						 	#if($isActualDate)
                         		<input id="actualDateCheckBox" checked="checked" type="checkbox" name="actualDateCheckBox" value="true" class="checkbox" style="margin-right: 10px"/>
                     		#else
                         		<input id="actualDateCheckBox" type="checkbox" name="actualDateCheckBox" value="true" class="checkbox" style="margin-right: 10px" />
                      		#end
						</td>
					</tr>
					#if ($authcontext.user.inGroup('jira-administrators'))
						<tr>
							<td colspan="2">
							<div style="margin-top: 10px; margin-bottom: 10px;">
								<strong>$i18n.getText("plugin.admin.settings")</strong>
							</div>	
							</td>
						</tr>
						<tr>
							<td>
								$i18n.getText("plugin.setting.filtered.issues")
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div id="issueSelect_container" class="ajax_autocomplete atlassian-autocomplete" style="margin-bottom: 35px" >
									<select class="hidden"
											multiple="none" 
								   			name="issueSelect" 
											id="issueSelect" 
								   			data-popup-link-message="" 
								   			data-popup-width="620" 
								   			data-popup-height="500" 
								   			data-remove-on-un-select="true" 
								   			data-ajax-options.query="true" 
								   			data-ajax-options.url="${req.contextPath}/rest/api/1.0/issues/picker" 
								   			data-ajax-options.data.query="-" 
								   			data-ajax-options.data.current-issue-key=""
								   			data-ajax-options.data.show-sub-tasks="true" 
									    	data-ajax-options.data.show-sub-task-parent="true"
											#if (${action.currentJQL})
												data-ajax-options.data.current_jql=${action.currentJQL}
											#end>
									</select> 
									<script>
											var ip = new AJS.IssuePicker({
									  		element: AJS.$("#issueSelect"),
									 		userEnteredOptionsMsg: AJS.params.enterIssueKey,
									  		uppercaseUserEnteredOnSelect: true,
									  		singleSelectOnly: true,
									   		currentProjectId: $projectsId,
											});
											//Set the issues key all of them	
											AJS.$("#issueSelect-textarea").append("$issueKey");
											ip.handleFreeInput();
									</script>
								</div>
							</td>
						</tr>
					#end
					<tr class="buttons-container">
						<td colspan="2">
							<input id="savesettings"  type="submit" name="savesettings" value="$i18n.getText('plugin.save')" class="button"/>
							<input id="cancelButton"  type="button" name="Cancel" value="$i18n.getText('plugin.cancel')" onclick="location.href='JiraTimetrackerSettingsWebAction.jspa'" class="button"/>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
	
</from>