#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<head>
<title>Timetracker Table Report</title>
</head>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("jira.webresources:dwr", null)   
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
$webResourceManager.requireResource("org.everit.jira.timetracker.plugin:table_report-resources")
<body>
#set($rendererType = "atlassian-wiki-renderer")
	#if($currentCalendar.useISO8601 == true)
		#set ($firstDay = 1)
	#else
		#set ($firstDay = 0)
	#end
	
<script type="text/javascript">
	window.everit = window.everit || {};
	everit.jttp = everit.jttp || {};
	everit.jttp.report_common_scripts = everit.jttp.report_common_scripts || {};

	(function(jttp, jQuery) {
		jttp.options = jQuery.extend( 
			{},
			jttp.options,
			{
				firstDay : ${firstDay},
				useISO8601 : ${currentCalendar.useISO8601},
				dateFromFormated : '${dateFromFormated}',
				dateToFormated : '${dateToFormated}'
			}
		);
	})(everit.jttp.report_common_scripts, AJS.$);
</script>
	
<div id="plugin_head" class="item-header">
	<div class="logo-img">
		<a href="http://www.everit.biz/" target="_blank">
			<img src="$contextPath/download/resources/org.everit.jira.timetracker.plugin:table_report-resources/everit_tt_logo.png" alt="Everit logo" height="42" width="42" style:"float: right">
		</a>
	</div>
	<h1 class="item-summary">Timetracker</h1>
</div>
<div id="main-content" class="content rounded">
	<form name="chartReportForm"  method="get" action="JiraTimetrackerTableWebAction.jspa" />   
		<div class="inside-content">
			##TAB START
			<div class="tabwrap tabs2" id="tabs-jttp">
	    		<ul class="tabs horizontal">
	        		<li><a href="JiraTimetrackerWebAction!default.jspa"><strong>Timetracker</strong></a></li>
	        		<li><a href="JiraTimetrackerWorklogsWebAction!default.jspa"><strong>Missing Days Report</strong></a></li>
	        		<li><a href="JiraTimetrackerChartWebAction!default.jspa"><strong>Chart Report</strong></a></li>
	        		<li class="active"><a href="JiraTimetrackerTableWebAction!default.jspa"><strong>Table Report</strong></a></li>
	    		</ul>
	    	</div>
			##TAB END
		  	#if(!$message.isEmpty())
			  	<div id="error_message">
			 			$i18n.getText($message)
			  	</div>
		  	#end
			<div id="form_div" class="jttp-calendar">
				<table>
					<tbody>
						<tr>
							<td>
								$i18n.getText("plugin.from"): 
								</td>
								<td>
								<input type="text" id="dateFrom" name="dateFrom" tabindex="1" onkeydown="return everit.jttp.report_common_scripts.checkEnter(event);" value="$dateFromFormated"/>
								<img id="date_trigger_from" src="$contextPath/images/icons/cal.gif" width="16" height="16" border="0"
									alt="Pick a date" style="vertical-align: sub;" title="$i18n.getText('plugin.choose.date')"/>
							</td>
						</tr>
						<tr>
							<td>
								$i18n.getText("plugin.to"): 
								</td>
								<td>
								<input type="text" id="dateTo" name="dateTo" tabindex="1" onkeydown="return everit.jttp.report_common_scripts.checkEnter(event);" value="$dateToFormated"/>
								<img id="date_trigger_to" src="$contextPath/images/icons/cal.gif" width="16" height="16" border="0"
									alt="Pick a date" style="vertical-align: sub;" title="$i18n.getText('plugin.choose.date')"/>
							</td>
						</tr>
						<tr>
							<td>
								$i18n.getText("plugin.user"): 
							</td>
							<td>
								<div class="field-group">
									<select  id="userPicker" class="js-default-user-picker single-user-picker" name="userPicker">
										#if($userPickerObject)
										<option selected="selected" 
										 value="$userPickerObject.getKey()"
										   data-field-text="$userPickerObject.getDisplayName()"
										   style="background-image:url('$avatarURL')" >
										  $userPickerObject.getDisplayName()
										 </option>
										#end   
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<input id="search"  tabindex="3" type="submit" name="search" value="$i18n.getText('plugin.search')" class="button" 
								  onclick="return everit.jttp.report_common_scripts.jttpSearchOnClick('Table');"/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			#parse("templates/table_report_list.vm")
		</div>
	</form>
	<div id="feedbackfooter" class="feedback_footer">
		#parse("templates/feedback_table.vm")
	</div>
</div>
#if($analyticsCheck)
	#parse("templates/analytics.vm")
#end
</body>
</html>
