#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<head>
<title>Missing Days Report</title>
</head>
<body>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("jira.webresources:dwr", null)
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
$webResourceManager.requireResource("org.everit.jira.timetracker.plugin:missing_days_report-resources")

	#set($rendererType = "atlassian-wiki-renderer")
	#if($currentCalendar.useISO8601 == true)
		#set ($firstDay = 1)
	#else
		#set ($firstDay = 0)
	#end
	
  <script type="text/javascript">
	window.everit = window.everit || {};
	everit.jttp = everit.jttp || {};
	everit.jttp.report_common_scripts = everit.jttp.report_common_scripts || {};

	(function(jttp, jQuery) {
		jttp.options = jQuery.extend( 
			{},
			jttp.options,
			{
				firstDay : ${firstDay},
				useISO8601 : ${currentCalendar.useISO8601},
				dateFromFormated : '${dateFromFormated}',
				dateToFormated : '${dateToFormated}'
			}
		);
	})(everit.jttp.report_common_scripts, AJS.$);
	
	everit.jttp.missing_days_report = everit.jttp.missing_days_report || {};

	(function(jttp, jQuery) {
		jttp.options = jQuery.extend( 
			{},
			jttp.options,
			{
			}
		);
	})(everit.jttp.missing_days_report, AJS.$);
  </script>
	
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-image">
         <span class="aui-avatar aui-avatar-large">
           <span class="aui-avatar-inner">
             <a href="http://www.everit.biz/index.php?nyelv=en" target="_blank">
               <img src="$contextPath/download/resources/org.everit.jira.timetracker.plugin:reporting-resources/E_logo.png" alt="Everit reporting logo">
             </a>
           </span>
         </span>
      </div>
      <div class="aui-page-header-main">
          <a href="#reporting_menu" aria-owns="reporting_menu" aria-haspopup="true" class="h1-button aui-button aui-button-link aui-style-default aui-dropdown2-trigger"><h1>Missing Days Report</h1></a>
          <div id="reporting_menu" class="aui-style-default aui-dropdown2" style="top: 150px">
            <ul class="aui-list-truncate">
              <li><a href="ReportingWebAction!default.jspa">Reporting</a></li>
              <li><a href="JiraTimetrackerChartWebAction!default.jspa">Chart Report</a></li>
              <li><a href="JiraTimetrackerTableWebAction!default.jspa">Table Report</a></li>
            </ul>
          </div>
        </div>
     </div>
  </header>
  
   <div class="missing-search-criteria-container">
            <form action="JiraTimetrackerWorklogsWebAction.jspa?dateFromFormated=$dateFromFormated&dateToFormated=$dateToFormated&actualPage=$actualPage" class="aui top-label reporting-form" id="reporting-form" method="get">
                 #if(!$message.isEmpty())
                   <div id="error_message">
                     $i18n.getText($message) $messageParameter
                   </div>
                 #end
                 <div class="form-body">
                     <div class="aui-group">
                        <div class="aui-item search-wrap">
                            <div class="date-search-container">
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <div class="from-date inline-calendar">
                                            <input class="text medium-field datepicker-input" placeholder="From" type="text" onkeydown="return everit.jttp.report_common_scripts.checkEnter(event);" value="$dateFromFormated" id="dateFrom" name="dateFrom" tabindex="1">
                                                <a href="#" title="Select a date">
                                                    <span id="date_trigger_from" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                                                </a>
                                        </div>
                                        <div class="to-date inline-calendar">
                                            <input class="text medium-field datepicker-input" placeholder="To" type="text" onkeydown="return everit.jttp.report_common_scripts.checkToEnter(event);" value="$dateToFormated" id="dateTo" name="dateTo" tabindex="2">
                                                <a href="#" title="Select a date">
                                                    <span id="date_trigger_to" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="aui-group">
                        <div class="aui-item">
                            <div class="checkbox">
                                <input class="checkbox" id="hour" type="checkbox" value="check 8 h" name="hour" onclick="everit.jttp.missing_days_report.setCheckWorkedHours();" #if($checkHours) checked #end/>
                                <label for="cbOne">$i18n.getText("plugin.missing.days.hours")</label>
                            </div>
                            <div class="checkbox">
                                <input class="checkbox" id="nonworking" type="checkbox" value="non-working not count" name="nonworking" #if($checkNonWorkingIssues) checked #end />
                                <label for="cbOne">$i18n.getText("plugin.missing.days.nonworking")</label>
                            </div>
                        </div>
                    </div>
                     <div class="aui-group">
                        <div class="aui-item">
                            <button id="search" tabindex="3" class="aui-button aui-button-primary" onclick="_paq.push(['trackEvent', 'User', 'Missings']); ">$i18n.getText('plugin.search')</button> <!-- Submit the search form -->
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="aui-page-panel">
          <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <div class="container">
                    <div class="table-content">
                        <div id="statistics-message" class="missing-message">
	                       $i18n.getText("plugin.statistics.message") $statisticsMessageParameter
                        </div>
                        <div id="results-wrap">
                            <table id="missing-worklog-table" class="aui missing-worklog-table">
                              <thead>
                                <tr>
                                  <th>$i18n.getText("plugin.dates")</th>
                                  <th>$i18n.getText("plugin.dates")</th> <!-- New feature, feedback request -->
                                </tr>
                              </thead>
                          #if($showDatesWhereNoWorklog.size() == 0)
                            </table>
                            <div id="message" class="message">$i18n.getText("plugin.no.dates")</div><!-- Change to info panel? -->
                          #else
                              <tbody>
                                #foreach ($date in $showDatesWhereNoWorklog)
                                  <tr>
                                    <td>
                                      <a href="JiraTimetrackerWebAction.jspa?dateFormatted=$date">$date</a>
                                    </td>
                                    <td>7</td>
                                  </tr>
                                #end
                              <tbody>
                           #end
                            </table> 
                        </div>
                        <div class="aui-group aui-group-split count-pagination missing-count">
                            <div class="aui-item">
                                <span class="results-count-text">
                                    <span class="results-count results-count-start">1</span> –
                                    <span class="results-count results-count-end">50</span> of 
                                    <span class="results-count results-count-total results-count-link">100</span>
                                </span>
                            </div>
                            <div class="aui-item">
                                <div class="pagination" data-displayable-total="100"> 
                                    <strong title="Issues 1 - 50">1</strong> 
                                    <a href="/issues/?jql=&amp;startIndex=50" data-page="2" data-start-index="50" title="Issues 51 - 100">2</a>
                                    <a href="/issues/?jql=&amp;startIndex=50" data-start-index="50" class="icon icon-next" title="Go to page 2 of 59">
                                        <span class="aui-icon aui-icon-small aui-iconfont-arrows-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        #if($showDatesWhereNoWorklog.size() != 0)
                          <div class="message">
                            <input type="submit" id="pageBack" name="pageBack" value="<" class="button" /> $actualPage / $numberOfPages 
                            <input type="submit" id="pageNext" name="pageNext" value=">" class="button" />
                          </div>
                        #end
                    </div>
                </div>
            </section>
          </div>
        </div>
	  </div>
   <script type="text/javascript" src="$issueCollectorSrc"></script>
  </div>
  #if($analyticsDTO.analyticsCheck)
	#parse("templates/common/analytics.vm")
  #end
</body>
</html>
