#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<head>
<title>Missing Days Report</title>
</head>
<body>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("jira.webresources:dwr", null)
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
$webResourceManager.requireResourcesForContext("org.everit.jira.timetracker.plugin.missing_days_report-resources")

	#set($rendererType = "atlassian-wiki-renderer")
	#if($currentCalendar.useISO8601 == true)
		#set ($firstDay = 1)
	#else
		#set ($firstDay = 0)
	#end
	
  <script type="text/javascript">
	window.everit = window.everit || {};
	everit.jttp = everit.jttp || {};
	everit.jttp.report_common_scripts = everit.jttp.report_common_scripts || {};

	(function(jttp, jQuery) {
		jttp.options = jQuery.extend( 
			{},
			jttp.options,
			{
				firstDay : ${firstDay},
				useISO8601 : ${currentCalendar.useISO8601},
				dateFromFormated : ${dateFromFormated},
				dateToFormated : ${dateToFormated},
				dateFormat: "${dateFormat}"
			}
		);
	})(everit.jttp.report_common_scripts, AJS.$);
	
	everit.jttp.missing_days_report = everit.jttp.missing_days_report || {};

	(function(jttp, jQuery) {
		everit.jttp.missing_days_report.options = jQuery.extend( 
			{},
			jttp.options,
			{
			dateFormat: "${dateFormat}"
			}
		);
	})(everit.jttp.missing_days_report, AJS.$);
  </script>
	  #parse("templates/common/updatenotifier.vm")
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-image">
         <span class="aui-avatar aui-avatar-large">
           <span class="aui-avatar-inner">
             <a href="http://www.everit.biz/index.php?nyelv=en" target="_blank">
               <img class="everit_logo" alt="Everit reporting logo">
             </a>
           </span>
         </span>
      </div>
      <div class="aui-page-header-main">
        <h1>
          <span>Missing Days Report</span>
          <a href="#reporting_menu" aria-owns="reporting_menu" aria-haspopup="true" class="aui-button aui-button-link aui-style-default aui-dropdown2-trigger">$i18n.getText("jtrp.select.report")</a>
          <div id="reporting_menu" class="aui-style-default aui-dropdown2" style="top: 150px">
            <ul class="aui-list-truncate">
              <li><a href="ReportingWebAction!default.jspa">Reporting</a></li>
              <li><a href="JiraTimetrackerChartWebAction!default.jspa">Chart Report</a></li>
              <li><a href="JiraTimetrackerTableWebAction!default.jspa">Table Report</a></li>
            </ul>
          </div>
        </h1>
        </div>
     </div>
  </header>
     <div class="missing-search-criteria-container">
               <div id="error_message"  #if($message.isEmpty()) style="display:none;" #end>
                 <label id="error_message_label" #if($message.isEmpty()) style="display:none;" #end>$i18n.getText($message)</label>
                 <label id="error_message_label_df" style="display:none;">$i18n.getText('plugin.invalid_startTime')</label>
                 <label id="error_message_label_dt" style="display:none;">$i18n.getText('plugin.invalid_endTime')</label>
               </div>
                <form name="dummyFormForView" class="aui top-label reporting-form" id="dummyFormForView" method="get" onsubmit="return false;" >
                 <div class="form-body">
                     <div class="aui-group">
                        <div class="aui-item search-wrap">
                            <div class="date-search-container">
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <div class="from-date inline-calendar">
                                            <input class="text medium-field datepicker-input" placeholder="From" type="text" onkeydown="return everit.jttp.report_common_scripts.checkEnter(event);" id="dateFrom" name="dateFrom" tabindex="1">
                                                <a href="#" title="Select a date">
                                                    <span id="date_trigger_from" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                                                </a>
                                        </div>
                                        <div class="to-date inline-calendar">
                                            <input class="text medium-field datepicker-input" placeholder="To" type="text" onkeydown="return everit.jttp.report_common_scripts.checkToEnter(event);" id="dateTo" name="dateTo" tabindex="2">
                                                <a href="#" title="Select a date">
                                                    <span id="date_trigger_to" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="aui-group">
                        <div class="aui-item">
                            <div class="checkbox">
                                <input class="checkbox" id="hour" type="checkbox" value="check 8 h" name="hour" onclick="everit.jttp.missing_days_report.setCheckWorkedHours();" #if($checkHours) checked #end>
                                <label for="cbOne">$i18n.getText("plugin.missing.days.hours")</label>
                            </div>
                            <div class="checkbox">
                                <input class="checkbox" id="nonworking" type="checkbox" value="non-working not count" name="nonworking" #if($checkNonWorkingIssues) checked #end>
                                <label for="cbOne">$i18n.getText("plugin.missing.days.nonworking")</label>
                            </div>
                        </div>
                    </div>
                  </div>
                  </form>
                     <div class="aui-group">
                        <form action="JiraTimetrackerWorklogsWebAction.jspa" id="reporting-form" method="get" onsubmit="return everit.jttp.missing_days_report.beforeSubmitMissingsReport();" >
                          <div class="aui-item">
                            <button id="search" name="search" type="submit" tabindex="3" class="aui-button aui-button-primary" onclick="_paq.push(['trackEvent', 'User', 'Missings']); return true;">$i18n.getText('plugin.search')</button> <!-- Submit the search form -->
                          </div>
                          <input type="hidden" id="dateFromMil" name="dateFromMil">
                          <input type="hidden" id="dateToMil" name="dateToMil">
                        </form>
                    </div>
                
        </div>

        <form action="JiraTimetrackerWorklogsWebAction.jspa" class="aui top-label reporting-form" id="paging-form" method="get" onsubmit="return everit.jttp.missing_days_report.beforeSubmitMissingsPagingReport();">
          <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
              <section class="aui-page-panel-content">
                <div class="container">
                    <div class="table-content">
                        <div id="statistics-message" class="missing-message">
	                       $i18n.getText("plugin.statistics.message") $paging.resultSize
                        </div>
                        <div id="results-wrap">
                            <table id="missing-worklog-table" class="aui missing-worklog-table">
                              <thead>
                                <tr>
                                  <th>$i18n.getText("plugin.missings.dates")</th>
                                  <th>$i18n.getText("plugin.missings.hours")</th> <!-- New feature, feedback request -->
                                </tr>
                              </thead>
                          #if($showDatesWhereNoWorklog.size() == 0)
                            </table>
                            <div id="message" class="message">$i18n.getText("plugin.no.dates")</div><!-- Change to info panel? -->
                          #else
                              <tbody>
                                #foreach ($missings in $showDatesWhereNoWorklog)
                                  <tr>
                                    <td>
                                      <a href="JiraTimetrackerWebAction.jspa?date=$missings.date.getTime()">$outlookDate.formatDMY($missings.date)</a>
                                    </td>
                                    <td>$missings.hour</td>
                                  </tr>
                                #end
                              <tbody>
                           #end
                            </table> 
                        </div>
                        <div class="aui-group aui-group-split count-pagination missing-count">
                            <div class="aui-item">
                                <span class="results-count-text">
                                    <span class="results-count results-count-start">$paging.start</span> –
                                    <span class="results-count results-count-end">$paging.end</span> of 
                                    <span class="results-count results-count-total results-count-link">$paging.resultSize</span>
                                </span>
                            </div>
                            <div class="aui-item">
                              <div class="pagination">
                                    #set($wdMaxPageNumber = $paging.maxPageNumber)
                                    
                                    #if ( $wdMaxPageNumber )
                                      #set($wdActPageNumber = $paging.actPageNumber)
                                      #if ( $wdActPageNumber - 2 < 1 )
                                        #set($inStart = 1)
                                      #else
                                        #set($inStart = $wdActPageNumber - 2)
                                      #end
                                      #if ( $wdActPageNumber + 2 > $wdMaxPageNumber )
                                        #set($inEnd = $wdMaxPageNumber)
                                      #else
                                        #set($inEnd = $wdActPageNumber + 2)
                                      #end
                                      #if ( $wdActPageNumber < 3 )
                                        #if ($wdMaxPageNumber > 5) 
                                          #set($inEnd = 5) 
                                        #else 
                                          #set($inEnd = $wdMaxPageNumber) 
                                        #end
                                      #end
                                      #if ( $wdActPageNumber + 2 >= $wdMaxPageNumber && $wdMaxPageNumber - 4 > 0 ) 
                                        #set($inStart = $wdMaxPageNumber - 4)
                                      #end
                                      #if ( $wdActPageNumber > 1 )
                                        #set($pageBack = $page - 1)
                                    <button id="pageBack" name="pageBack" style="submit" class="missings-paging aui-button aui-button-link">
                                        <span class="aui-icon aui-icon-small aui-iconfont-arrows-left"></span>
                                    </button>
                                      #end
                                      #foreach ( $page in [$inStart..$inEnd] ) 
                                        #if ( $wdActPageNumber == $page )
                                    <strong class="missings-paging-strong">$page</strong>
                                        #else
                                    <button id="paging" name="paging" style="submit" value="$page" class="missings-paging aui-button aui-button-link">$page</button>
                                        #end
                                      #end
                                      #if ( $wdActPageNumber < $wdMaxPageNumber )
                                       #set($pageNext = $page + 1)
                                    <button id="pageNext" name="pageNext" style="submit" class="missings-paging aui-button aui-button-link">
                                        <span class="aui-icon aui-icon-small aui-iconfont-arrows-right"></span>
                                    </button>
                                      #end
                                    #end
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <input type="hidden" id="dateFromFormated" name="dateFromFormated" value="$dateFromFormated" >
                  <input type="hidden" id="dateToFormated" name="dateToFormated" value="$dateToFormated" >
                  <input type="hidden" id="actualPage" name="actualPage" value="$actualPage">
                </section>
              </div>
            </div>
          </form>
   <script type="text/javascript" src="$issueCollectorSrc"></script>
  #if($analyticsDTO.analyticsCheck)
	#parse("templates/common/analytics.vm")
  #end
</body>
</html>
