#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("org.everit.jira.timetracker.plugin:reporting-resources")
  <body>
    <script type="text/javascript">
      window.everit = window.everit || {};
      everit.reporting = everit.reporting || {};
      everit.reporting.main = everit.reporting.main || {};

      (function(reporting, jQuery) {
        reporting.options = jQuery.extend( 
          {},
          reporting.options,
          {
          }
        );
      })(everit.reporting.main, AJS.$);
    </script>

   <section id="content" role="main">	  
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-large">
                        <span class="aui-avatar-inner">
                          <a href="http://www.everit.org/jira-timetracker-plugin/" target="_blank">
                            <img src="$contextPath/download/resources/org.everit.jira.timetracker.plugin:reporting-resources/E_logo.png" alt="Everit reporting logo">
                          </a>
                        </span>
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <h1>Reporting</h1>
                </div>                
            </div>
        </header>
            
        <!-- Search criterias -->
        <div class="reporting-search-criteria-container">
            <form action="ReportingWebAction.jspa" class="aui top-label reporting-form" name="reporting-form" id="reporting-form" method="get">
			     <div class="form-body">
                     #if(!$message.isEmpty())
                       	<div id="error_message">
                           $i18n.getText($message)
                        </div>
                     #end
                     <div class="aui-group">
                        <div class="aui-item search-wrap basic"> <!-- Search wrap class from issue search -->
                            <div class="search-container basic">
                                 <div class="search-criteria-container">
                                     <div class="search-criteria">
                                         <button type="button" data-id="group" aria-owns="dropdown2-checkbox-project" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="JIRA plugin development, DEMO 2, DEMO 3">
                                             <div class="criteria-wrap">
                                                 <div class="searcherValue">
                                                     <span id="fieldpid" class="fieldValue">JIRA plugin development, DEMO 2, DEMO 3</span>
                                                 </div>
                                             </div>
                                         </button>
                                         <!-- Project Dropdown -->
							<div class="field-group">
								<div class="criteria-list" criteria="project">
							  		<div criteria="project">
							        		<button id="jttr-project-select-button"  aria-owns="project-select" aria-haspopup="true" class="aui-button-subtle criteria-selector aui-button drop-arrow" type="button">
							        			<div class="criteria-wrap">
							        				<span class="fieldLabel">Projects:</span>
							        			</div>
							        		</button>
							   		</div>
									<div class="jttr-filter-field">
								    	<div class='ajs-layer box-shadow'>
											<div>
												<div class='form-body'>
													<div class='field-group aui-field-issuetype'>
														<select id="project-select" class="hidden js-default-checkboxmultiselect" name="projectSelection" style="width: 200px" multiple='multiple'>
													        	<option value="10100">example-project (EX)</option> 
														</select>
													</div>
												</div>>
											</div>
										</div>
							       	</div>
							     </div>
						     </div>
                                         
                                         
                                         <div id="dropdown2-checkbox-project" class="aui-dropdown2 aui-style-default">
                                             <div class="aui-dropdown2-section">
                                                 <ul>
                                                     <li><a class="aui-dropdown2-checkbox checked interactive">JIRA plugin development</a></li>
                                                     <li><a class="aui-dropdown2-checkbox checked interactive">DEMO 2</a></li>
                                                     <li><a class="aui-dropdown2-checkbox checked interactive">DEMO 3</a></li>
                                                 </ul>
                                             </div>
                                         </div>
                                         <!-- Project Dropdown End-->
                                          <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                              <div class="criteria-wrap">
                                                  <div class="searcherValue">
                                                      <span id="fieldpid" class="fieldValue">Type:</span> All
                                                  </div>
                                              </div>
                                         </button>
                                         <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                              <div class="criteria-wrap">
                                                  <div class="searcherValue">
                                                      <span id="fieldpid" class="fieldValue">Status:</span> All
                                                  </div>
                                              </div>
                                         </button>
                                         <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                              <div class="criteria-wrap">
                                                  <div class="searcherValue">
                                                      More
                                                  </div>
                                              </div>
                                         </button>
                                         <button type="button" class="aui-button aui-button-link" onclick="everit.reporting.main.changeFilterType('filter')">Filter</button>  <!-- switch to filter -->
                                     </div>
                                     <div class="search-criteria-extended">
                                         <!-- placeholder for criterias with more button !!! -->
                                     </div>
                                 </div>
                            </div>
                            <div class="search-container filter"> <!-- This will be hidden if Basic is picked -->
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                             <div class="criteria-wrap">
                                                 <div class="searcherValue">
                                                     <span id="fieldpid" class="fieldValue">Filter:</span> None
                                                 </div>
                                             </div>
                                        </button>
                                        <button type="button" class="aui-button aui-button-link" onclick="everit.reporting.main.changeFilterType('basic')">Basic</button> <!-- switch to basic -->
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="aui-group">
                        <div class="aui-item search-wrap">
                            <div class="user-search-container">
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                            <div class="criteria-wrap">
                                                <div class="searcherValue">
                                                    <span id="fieldpid" class="fieldValue">Groups:</span> All
                                                </div>
                                            </div>
                                        </button>
                                         <button type="button" data-id="group"  class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" aria-disabled="true" title="All"> <!-- only group or user can be picked, not both, one button will be disabled -->
                                             <div class="criteria-wrap">
                                                 <div class="searcherValue">
                                                     <span id="fieldpid" class="fieldValue">Users:</span> All
                                                 </div>
                                             </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="aui-group">
                        <div class="aui-item search-wrap">
                            <div class="date-search-container">
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <div class="from-date inline-calendar">
                                            <input id="dateFrom" name="dateFrom" class="text medium-field datepicker-input" placeholder="From" type="text" value="$dateFromFormated">
                                                <a href="#" title="Select a date">
                                                    <span id="date_trigger_from" class="aui-icon icon-date">Select a date</span>
                                                </a>
                                        </div>
                                        <div class="to-date inline-calendar">
                                            <input id="dateTo" name="dateTo" class="text medium-field datepicker-input" placeholder="To" type="text" value="$dateToFormated">
                                                <a href="#" title="Select a date">
                                                    <span id="date_trigger_to" class="aui-icon icon-date">Select a date</span>
                                                </a>
                                        </div>
                                        <button type="submit" class="aui-button aui-button-primary">Create Report</button> <!-- Submit the search form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="formType" value="basic"
            </form>
        </div>
        #parse("templates/reporting/reporting_result.vm")
        <!-- -- FROM HERE the table part have to refactor in to an other vm file-- -->
    </section>
  </body>
</html>
