#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("org.everit.jira.timetracker.plugin:reporting-resources")
  <body>
    <script type="text/javascript">
      window.everit = window.everit || {};
      everit.reporting = everit.reporting || {};
      everit.reporting.main = everit.reporting.main || {};

      (function(reporting, jQuery) {
        reporting.options = jQuery.extend( 
          {},
          reporting.options,
          {
          }
        );
      })(everit.reporting.main, AJS.$);
    </script>

   <section id="content" role="main">	  
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-large">
                        <span class="aui-avatar-inner">
                          <a href="http://www.everit.org/jira-timetracker-plugin/" target="_blank">
                            <img src="$contextPath/download/resources/org.everit.jira.timetracker.plugin:reporting-resources/E_logo.png" alt="Everit reporting logo">
                          </a>
                        </span>
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <h1>Reporting</h1>
                </div>                
            </div>
        </header>
            
        <!-- Search criterias -->
        <div class="reporting-search-criteria-container">
            <form action="" class="aui top-label reporting-form" id="reporting-form" method="get">
			     <div class="form-body">
                     <div class="aui-group">
                        <div class="aui-item search-wrap basic"> <!-- Search wrap class from issue search -->
                            <div class="search-container basic">
                                 <div class="search-criteria-container">
                                     <div class="search-criteria">
                                         <button type="button" data-id="group" aria-owns="dropdown2-checkbox-project" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="JIRA plugin development, DEMO 2, DEMO 3">
                                             <div class="criteria-wrap">
                                                 <div class="searcherValue">
                                                     <span id="fieldpid" class="fieldValue">JIRA plugin development, DEMO 2, DEMO 3</span>
                                                 </div>
                                             </div>
                                         </button>
                                         <!-- Project Dropdown -->
                                         <div id="dropdown2-checkbox-project" class="aui-dropdown2 aui-style-default">
                                             <div class="aui-dropdown2-section">
                                                 <ul>
                                                     <li><a class="aui-dropdown2-checkbox checked interactive">JIRA plugin development</a></li>
                                                     <li><a class="aui-dropdown2-checkbox checked interactive">DEMO 2</a></li>
                                                     <li><a class="aui-dropdown2-checkbox checked interactive">DEMO 3</a></li>
                                                 </ul>
                                             </div>
                                         </div>
                                         <!-- Project Dropdown End-->
                                          <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                              <div class="criteria-wrap">
                                                  <div class="searcherValue">
                                                      <span id="fieldpid" class="fieldValue">Type:</span> All
                                                  </div>
                                              </div>
                                         </button>
                                         <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                              <div class="criteria-wrap">
                                                  <div class="searcherValue">
                                                      <span id="fieldpid" class="fieldValue">Status:</span> All
                                                  </div>
                                              </div>
                                         </button>
                                         <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                              <div class="criteria-wrap">
                                                  <div class="searcherValue">
                                                      More
                                                  </div>
                                              </div>
                                         </button>
                                         <button type="button" class="aui-button aui-button-link" onclick="everit.reporting.main.changeFilterType('filter')">Filter</button>  <!-- switch to filter -->
                                     </div>
                                     <div class="search-criteria-extended">
                                         <!-- placeholder for criterias with more button !!! -->
                                     </div>
                                 </div>
                            </div>
                            <div class="search-container filter"> <!-- This will be hidden if Basic is picked -->
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                             <div class="criteria-wrap">
                                                 <div class="searcherValue">
                                                     <span id="fieldpid" class="fieldValue">Filter:</span> None
                                                 </div>
                                             </div>
                                        </button>
                                        <button type="button" class="aui-button aui-button-link" onclick="everit.reporting.main.changeFilterType('basic')">Basic</button> <!-- switch to basic -->
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="aui-group">
                        <div class="aui-item search-wrap">
                            <div class="user-search-container">
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                            <div class="criteria-wrap">
                                                <div class="searcherValue">
                                                    <span id="fieldpid" class="fieldValue">Groups:</span> All
                                                </div>
                                            </div>
                                        </button>
                                         <button type="button" data-id="group"  class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" aria-disabled="true" title="All"> <!-- only group or user can be picked, not both, one button will be disabled -->
                                             <div class="criteria-wrap">
                                                 <div class="searcherValue">
                                                     <span id="fieldpid" class="fieldValue">Users:</span> All
                                                 </div>
                                             </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="aui-group">
                        <div class="aui-item search-wrap">
                            <div class="date-search-container">
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <div class="from-date inline-calendar">
                                            <input id="dateFrom" name="dateFrom" class="text medium-field datepicker-input" placeholder="From" type="text" value="">
                                                <a href="#" title="Select a date">
                                                    <span class="aui-icon icon-date">Select a date</span>
                                                </a>
                                        </div>
                                        <div class="to-date inline-calendar">
                                            <input id="dateTo" name="dateTo" class="text medium-field datepicker-input" placeholder="To" type="text" value="">
                                                <a href="#" title="Select a date">
                                                    <span class="aui-icon icon-date">Select a date</span>
                                                </a>
                                        </div>
                                        <button class="aui-button aui-button-primary">Create Report</button> <!-- Submit the search form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="formType" value="basic"
            </form>
        </div>
        <!-- -- FROM HERE the table part have to refactor in to an other vm file-- -->
        <div class="aui-page-panel">
          <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">                
                <div id="detailsModule" class="module toggle-wrap expanded">
                    <div id="detailsModuleHeading" class="mod-header">
                        <span class="aui-icon aui-icon-small aui-iconfont-expanded"></span>
                        <h2 class="toggle-title"  onclick="everit.reporting.main.toggleModContent('details')">Work Log Details</h2>
                    </div>
                    <div class="mod-content">
                        <div class="aui-group aui-group-split action-button-container">
                            <div class="aui-item">
                                <button class="aui-button aui-button-subtle aui-dropdown2-trigger" id="details-groupby">Group by</button>                        
                            </div>
                            <div class="aui-item">
                                <button class="aui-button aui-button-subtle aui-dropdown2-trigger" id="details-columns">Columns</button>
                                <button class="aui-button aui-button-subtle" id="detials-export">
								    <span class="aui-icon aui-icon-small aui-iconfont-export"></span>
                                    <span class="button-label">Export</span>
                                </button>
							</div>								
                        </div>
                        <div class="details-tale-container">
                            <table class="aui reporting-table">
                                <thead>
                                    <tr class="rowHeader">
                                        <th>Date</th>
                                        <th id="details-project-key">Project</th>
                                        <th>Type</th>
                                        <th>Issue</th>
                                        <th>Summary</th>
                                        <th>Reporter</th>
                                        <th>Status</th>                                        
                                        <th>Description</th>
                                        <th>User</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>03/Feb/16</td>
                                        <td headers="details-project-key">JIRA plugin development</td>
                                        <td>Bug</td>
                                        <td>
                                            <a class="issue-link" data-issue-key="JIRAPLUGIN-194" href="/browse/JIRAPLUGIN-194">JIRAPLUGIN-194</a>
                                        </td>
                                        <td>[JTTP] Reporting email - kérdés válaszok nélkül</td>
                                        <td>daniel.toth</td>
                                        <td>Closed</td>                                       
                                        <td>Bugfix mindenen</td>
                                        <td>daniel.toth</td>
                                        <td>2h</td>
                                    </tr>
                                    <tr>
                                        <td>03/Feb/16</td>
                                        <td>JIRA plugin development</td>
                                        <td>Bug</td>
                                        <td>
                                            <a class="issue-link">JIRAPLUGIN-194</a>
                                        </td>
                                        <td>[JTTP] Reporting email - kérdés válaszok nélkül</td>
                                        <td>daniel.toth</td>
                                        <td>Closed</td>                                        
                                        <td>Bugfix mindenen</td>
                                        <td>daniel.toth</td>
                                        <td>2h</td>
                                    </tr>
                                    <tr>
                                        <td>03/Feb/16</td>
                                        <td>JIRA plugin development</td>
                                        <td>Bug</td>
                                        <td>
                                            <a class="issue-link">JIRAPLUGIN-194</a>
                                        </td>
                                        <td>[JTTP] Reporting email - kérdés válaszok nélkül</td>
                                        <td>daniel.toth</td>
                                        <td>Closed</td>                                        
                                        <td>Bugfix mindenen</td>
                                        <td>daniel.toth</td>
                                        <td>2h</td>
                                    </tr>
                                    <tr>
                                        <td>03/Feb/16</td>
                                        <td>JIRA plugin development</td>
                                        <td>Bug</td>
                                        <td>
                                            <a class="issue-link">JIRAPLUGIN-194</a>
                                        </td>
                                        <td>[JTTP] Reporting email - kérdés válaszok nélkül</td>
                                        <td>daniel.toth</td>
                                        <td>Closed</td>                                        
                                        <td>Bugfix mindenen</td>
                                        <td>daniel.toth</td>
                                        <td>2h</td>
                                    </tr>
                                    <tr>
                                        <td>03/Feb/16</td>
                                        <td>JIRA plugin development</td>
                                        <td>Bug</td>
                                        <td>
                                            <a class="issue-link">JIRAPLUGIN-194</a>
                                        </td>
                                        <td>[JTTP] Reporting email - kérdés válaszok nélkül</td>
                                        <td>daniel.toth</td>
                                        <td>Closed</td>                                        
                                        <td>Bugfix mindenen</td>
                                        <td>daniel.toth</td>
                                        <td>2h</td>
                                    </tr>
                                    <tr>
                                        <td>03/Feb/16</td>
                                        <td>JIRA plugin development</td>
                                        <td>Bug</td>
                                        <td>
                                            <a class="issue-link">JIRAPLUGIN-194</a>
                                        </td>
                                        <td>[JTTP] Reporting email - kérdés válaszok nélkül</td>
                                        <td>daniel.toth</td>
                                        <td>Closed</td>                                        
                                        <td>Bugfix mindenen</td>
                                        <td>daniel.toth</td>
                                        <td>2h</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="aui-group aui-group-split count-pagination">
                            <div class="aui-item">
                                <span class="results-count-text">
                                    <span class="results-count results-count-start">1</span> –
                                    <span class="results-count results-count-end">50</span> of 
                                    <span class="results-count results-count-total results-count-link">100</span>
                                </span>
                            </div>
                            <div class="aui-item">
                                <div class="pagination" data-displayable-total="100"> 
                                    <strong title="Issues 1 - 50">1</strong> 
                                    <a href="/issues/?jql=&amp;startIndex=50" data-page="2" data-start-index="50" title="Issues 51 - 100">2</a>
                                    <a href="/issues/?jql=&amp;startIndex=50" data-start-index="50" class="icon icon-next" title="Go to page 2 of 59">
                                        <span class="aui-icon aui-icon-small aui-iconfont-arrows-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
                <div id="summaryModule" class="module summary-module toggle-wrap expanded">
                    <div id="summaryModuleHeading" class="mod-header">
                        <span class="aui-icon aui-icon-small aui-iconfont-expanded"></span>
                        <h2 class="toggle-title" onclick="everit.reporting.main.toggleModContent('summary')">Quick Summary</h2>
                    </div>
                    <div class="mod-content">
                        <div class="summary-export-container action-button-container">
                            <div class="summary-export">
                                <button class="aui-button aui-button-subtle" id="detials-export">
                                <span class="aui-icon aui-icon-small aui-iconfont-export"></span>
                                    <span class="button-label">Export</span>
                                </button>
                            </div>
                        </div>
                        <div class="aui-tabs horizontal-tabs" data-aui-responsive>
                            <ul class="tabs-menu">
                                <li class="menu-item active-tab">
                                    <a href="#tabs-project">Project</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#tabs-issue">Issue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#tabs-user">User</a>
                                </li>
                            </ul>
                            <div class="tabs-pane active-pane" id="tabs-project">
                                <table class="aui reporting-table">
                                    <thead>
                                        <tr>
                                            <th id="summary-project-key">Project</th>
                                            <th>Summary</th>
                                            <th>Estimated</th>
                                            <th>Total Logged</th>
                                            <th>Remaining</th>
                                            <th>Logged vs. Estimated</th>
                                            <th>Expected Total (Logged + Remaining)</th>
                                            <th>Expected Total vs. Estimated</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td headers="summary-project-key">JIRA plugin development</td>
                                            <td>Jiraplguin dev</td>
                                            <td>200h</td>
                                            <td>150h</td>
                                            <td style="color: green;">50h</td>
                                            <td style="color: green;">-50h</td>
                                            <td>200h</td>
                                            <td style="color: green;">0h</td>
                                        </tr>                                        
                                    </tbody>
                                </table>
                                <div class="aui-group aui-group-split count-pagination">
                                    <!-- No content if lesser item than the paganisation limit -->
                                </div>
                            </div>
                            <div class="tabs-pane" id="tabs-issue">
                                <table class="aui reporting-table">
                                    <thead>
                                        <tr>
                                            <th id="summary-issue-key">Issue</th>
                                            <th>Summary</th>
                                            <th>Type</th>
                                            <th>Priority</th>
                                            <th>Status</th>
                                            <th>Assigne</th>
                                            <th>Estimated</th>
                                            <th>Remaining</th>
                                            <th>Total Logged</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td headers="summary-issue-key">JIRAPLUGIN-1</td>
                                            <td>Jiraplguin dev</td>
                                            <td>Bug</td>
                                            <td>Major</td>
                                            <td>Open</td>
                                            <td>daniel.toth</td>
                                            <td>200h</td>
                                            <td>200h</td>
                                            <td>200h</td>
                                        </tr>
                                        <tr>
                                            <td headers="summary-issue-key">JIRAPLUGIN-2</td>
                                            <td>Jiraplguin dev</td>
                                            <td>Bug</td>
                                            <td>Major</td>
                                            <td>Open</td>
                                            <td>daniel.toth</td>
                                            <td>200h</td>
                                            <td>200h</td>
                                            <td>200h</td>
                                        </tr>
                                        <tr>
                                            <td headers="summary-issue-key">JIRAPLUGIN-2</td>
                                            <td>Jiraplguin dev</td>
                                            <td>Bug</td>
                                            <td>Major</td>
                                            <td>Open</td>
                                            <td>daniel.toth</td>
                                            <td>200h</td>
                                            <td>200h</td>
                                            <td>200h</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="aui-group aui-group-split count-pagination">
                                    <div class="aui-item">
                                        <span class="results-count-text">
                                            <span class="results-count results-count-start">1</span> –
                                            <span class="results-count results-count-end">50</span> of 
                                            <span class="results-count results-count-total results-count-link">100</span>
                                        </span>
                                    </div>
                                    <div class="aui-item">
                                        <div class="pagination" data-displayable-total="100"> 
                                            <strong title="Issues 1 - 50">1</strong> 
                                            <a href="/issues/?jql=&amp;startIndex=50" data-page="2" data-start-index="50" title="Issues 51 - 100">2</a>
                                            <a href="/issues/?jql=&amp;startIndex=50" data-start-index="50" class="icon icon-next" title="Go to page 2 of 59">
                                                <span class="aui-icon aui-icon-small aui-iconfont-arrows-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-pane" id="tabs-user">
                                <table class="aui reporting-table">
                                    <thead>
                                        <tr>
                                            <th id="summary-user-key">Username</th>
                                            <th>Total Logged</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td headers="summary-user-key">Tóth Dániel</td>
                                            <td>20h</td>
                                        </tr>
                                        <tr>
                                            <td headers="summary-user-key">Bordás Attila</td>
                                            <td>20h</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="aui-group aui-group-split count-pagination">
                                    <div class="aui-item">
                                        <span class="results-count-text">
                                            <span class="results-count results-count-start">1</span> –
                                            <span class="results-count results-count-end">50</span> of 
                                            <span class="results-count results-count-total results-count-link">100</span>
                                        </span>
                                    </div>
                                    <div class="aui-item">
                                        <div class="pagination" data-displayable-total="100"> 
                                            <strong title="Issues 1 - 50">1</strong> 
                                            <a href="/issues/?jql=&amp;startIndex=50" data-page="2" data-start-index="50" title="Issues 51 - 100">2</a>
                                            <a href="/issues/?jql=&amp;startIndex=50" data-start-index="50" class="icon icon-next" title="Go to page 2 of 59">
                                                <span class="aui-icon aui-icon-small aui-iconfont-arrows-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grand-total-container">
                            <div class="grand-total">
                                <p class="grand-total-item grand-total-header">Grand Total Logged</p>
                                <p class="grand-total-item grand-total-value">1000h 380m</p>
                            </div>
                        </div>
                    </div>                    
                </div>
            </section>              
          </div>
        </div>          
    </section>
  </body>
</html>
