#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("org.everit.jira.timetracker.plugin:reporting-resources")
  <body>
    #if($currentCalendar.useISO8601 == true)
        #set ($firstDay = 1)
    #else
        #set ($firstDay = 0)
    #end
    <script type="text/javascript">
      window.everit = window.everit || {};
      everit.reporting = everit.reporting || {};
      everit.reporting.main = everit.reporting.main || {};

      (function(reporting, jQuery) {
        reporting.values = jQuery.extend( 
          {},
          reporting.values,
          {
            firstDay : ${firstDay},
            selectedProjects : ${selectedProjects},
            selectedStatus: ${selectedStatus},
            selectedTypes: ${selectedTypes},
            selectedPriorities: ${selectedPriorities},
            selectedResolutions: ${selectedResolutions}
          }
        );
      })(everit.reporting.main, AJS.$);
    </script>

   <section id="content" role="main">	  
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-image">
                    <span class="aui-avatar aui-avatar-large">
                        <span class="aui-avatar-inner">
                          <a href="http://www.everit.org/jira-timetracker-plugin/" target="_blank">
                            <img src="$contextPath/download/resources/org.everit.jira.timetracker.plugin:reporting-resources/E_logo.png" alt="Everit reporting logo">
                          </a>
                        </span>
                    </span>
                </div>
                <div class="aui-page-header-main">
                    <h1>Reporting</h1>
                </div>                
            </div>
        </header>
            
        <!-- Search criterias -->
        <div class="reporting-search-criteria-container">
            <form action="ReportingWebAction.jspa" class="aui top-label reporting-form" name="reporting-form" id="reporting-form" method="get">
			     <div class="form-body">
                     #if(!$message.isEmpty())
                       	<div id="error_message">
                           $i18n.getText($message)
                        </div>
                     #end
                     <div class="aui-group">
                        <div class="aui-item search-wrap basic"> <!-- Search wrap class from issue search -->
                            <div class="search-container basic">
                                 <div class="search-criteria-container">
                                     <div class="search-criteria">
                                         <!-- Project Dropdown  BUTTON-->
                                         <a id="projectPickerButton" href="#projectPickerDropDown" aria-owns="projectPickerDropDown" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle drop-arrow aui-dropdown2-trigger"></a>
                                         <!-- Project Dropdown -->
                                         <div id="projectPickerDropDown" class="aui-style-default aui-dropdown2">
                                           <div class="jttr-filter-field">
                                             <div class='ajs-layer box-shadow'>
                                               <div>
                                                 <div class='form-body'>
                                                   <div class='field-group aui-field-issuetype'>
                                                     <select  id="projectPicker" name="projectPicker"  multiple="multiple" >
                                                     </select>
                                                   </div>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                         </div>
                                         <!-- Project Dropdown End-->
                                         <!-- Issue Type Dropdown  BUTTON-->
                                         <a id="typePickerButton" href="#typePickerDropDown" aria-owns="typePickerDropDown" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle drop-arrow aui-dropdown2-trigger"></a>
                                         <!-- Issue Type Dropdown -->
                                         <div id="typePickerDropDown" class="aui-style-default aui-dropdown2">
                                           <div class="jttr-filter-field">
                                             <div class='ajs-layer box-shadow'>
                                               <div>
                                                 <div class='form-body'>
                                                   <div class='field-group aui-field-issuetype'>
                                                     <select  id="typePicker" name="typePicker"  multiple="multiple" >
                                                     </select>
                                                   </div>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                         </div>
                                         <!-- ssue Type Dropdown End-->
                                         <!-- Status Dropdown  BUTTON-->
                                         <a id="statusPickerButton" href="#statusPickerDropDown" aria-owns="statusPickerDropDown" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle drop-arrow aui-dropdown2-trigger"></a>
                                         <!-- Status Dropdown -->
                                         <div id="statusPickerDropDown" class="aui-style-default aui-dropdown2">
                                           <div class="jttr-filter-field">
                                             <div class='ajs-layer box-shadow'>
                                               <div>
                                                 <div class='form-body'>
                                                   <div class='field-group aui-field-issuetype'>
                                                     <select  id="statusPicker" name="statusPicker"  multiple="multiple" >
                                                     </select>
                                                   </div>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                         </div>
                                         <!-- Status Dropdown end-->
                                         <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                              <div class="criteria-wrap">
                                                  <div class="searcherValue">
                                                      More
                                                  </div>
                                              </div>
                                         </button>
                                         <button type="button" class="aui-button aui-button-link" onclick="everit.reporting.main.changeFilterType('filter')">Filter</button>  <!-- switch to filter -->
                                     </div>
                                     <div class="search-criteria-extended">
                                     <!-- placeholder for EXTENDED criterias with more button !!! -->
                                         <!-- Priority Dropdown  BUTTON-->
                                         <a id="priorityPickerButton" href="#priorityPickerDropDown" aria-owns="priorityPickerDropDown" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle drop-arrow aui-dropdown2-trigger"></a>
                                         <!-- Priority Dropdown -->
                                         <div id="priorityPickerDropDown" class="aui-style-default aui-dropdown2">
                                           <div class="jttr-filter-field">
                                             <div class='ajs-layer box-shadow'>
                                               <div>
                                                 <div class='form-body'>
                                                   <div class='field-group aui-field-issuetype'>
                                                     <select  id="priorityPicker" name="priorityPicker"  multiple="multiple" >
                                                     </select>
                                                   </div>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                         </div>
                                         <!-- Priority Dropdown End-->
                                         <!-- Resolution Dropdown  BUTTON-->
                                         <a id="resolutionPickerButton" href="#resolutionPickerDropDown" aria-owns="resolutionPickerDropDown" aria-haspopup="true" class="criteria-selector aui-button aui-button-subtle drop-arrow aui-dropdown2-trigger"></a>
                                         <!-- Resolution Dropdown -->
                                         <div id="resolutionPickerDropDown" class="aui-style-default aui-dropdown2">
                                           <div class="jttr-filter-field">
                                             <div class='ajs-layer box-shadow'>
                                               <div>
                                                 <div class='form-body'>
                                                   <div class='field-group aui-field-issuetype'>
                                                     <select  id="resolutionPicker" name="resolutionPicker" multiple="multiple" >
                                                     </select>
                                                   </div>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                         </div>
                                         <!-- Resolution Dropdown End-->
                                     </div>
                                 </div>
                            </div>
                            <div class="search-container filter"> <!-- This will be hidden if Basic is picked -->
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                             <div class="criteria-wrap">
                                                 <div class="searcherValue">
                                                     <span id="fieldpid" class="fieldValue">Filter:</span> None
                                                 </div>
                                             </div>
                                        </button>
                                        <button type="button" class="aui-button aui-button-link" onclick="everit.reporting.main.changeFilterType('basic')">Basic</button> <!-- switch to basic -->
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="aui-group">
                        <div class="aui-item search-wrap">
                            <div class="user-search-container">
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <button type="button" data-id="group" class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" title="All">
                                            <div class="criteria-wrap">
                                                <div class="searcherValue">
                                                    <span id="fieldpid" class="fieldValue">Groups:</span> All
                                                </div>
                                            </div>
                                        </button>
                                         <button type="button" data-id="group"  class="criteria-selector aui-button aui-button-subtle aui-dropdown2-trigger" aria-disabled="true" title="All"> <!-- only group or user can be picked, not both, one button will be disabled -->
                                             <div class="criteria-wrap">
                                                 <div class="searcherValue">
                                                     <span id="fieldpid" class="fieldValue">Users:</span> All
                                                 </div>
                                             </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="aui-group">
                        <div class="aui-item search-wrap">
                            <div class="date-search-container">
                                <div class="search-criteria-container">
                                    <div class="search-criteria">
                                        <div class="from-date inline-calendar">
                                            <input id="dateFrom" name="dateFrom" class="text medium-field datepicker-input" placeholder="From" type="text" value="$dateFromFormated">
                                                <a href="#" title="Select a date">
                                                    <span id="date_trigger_from" class="aui-icon icon-date">Select a date</span>
                                                </a>
                                        </div>
                                        <div class="to-date inline-calendar">
                                            <input id="dateTo" name="dateTo" class="text medium-field datepicker-input" placeholder="To" type="text" value="$dateToFormated">
                                                <a href="#" title="Select a date">
                                                    <span id="date_trigger_to" class="aui-icon icon-date">Select a date</span>
                                                </a>
                                        </div>
                                        <button type="submit" class="aui-button aui-button-primary">Create Report</button> <!-- Submit the search form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="formType" value="basic"
            </form>
        </div>
        #parse("templates/reporting/reporting_result.vm")
        <!-- -- FROM HERE the table part have to refactor in to an other vm file-- -->
    </section>
  </body>
</html>
