#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<section role="dialog" id="reporting-tutorial-dialog" class="aui-layer aui-dialog2 aui-dialog2-xlarge" aria-hidden="true">
    <!-- Dialog header -->
      <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h1 class="aui-dialog2-header-main" style="color: #707070;">$i18n.getText('jtrp.tutorial.header')</h1>   
      </header>
      <!-- Main dialog content -->
      <div class="aui-dialog2-content form-body" style="height: 500px;">
       	<div class="aui-tabs horizontal-tabs">
            <div class="tabs-pane active-pane" id="tutorialPage-1">
              <h2>$i18n.getText('jtrp.tutorial.tab.header.1')</h2>
              <div class="aui-group">
                <div class="aui-item">
                  $i18n.getText('jtrp.tutorial.tab.text.1')
                </div>
                <div class="aui-item tabImage tab1-img">
                </div>
              </div>
            </div>
            <div class="tabs-pane" id="tutorialPage-2">
              <h2>$i18n.getText('jtrp.tutorial.tab.header.2')</h2>
              <div class="aui-group">
                <div class="aui-item">
                  $i18n.getText('jtrp.tutorial.tab.text.2')
                </div>
                <div class="aui-item tabImage tab2-img">
                </div>
              </div>
            </div>
            <div class="tabs-pane" id="tutorialPage-3">
              <h2>$i18n.getText('jtrp.tutorial.tab.header.3')</h2>
              <div class="aui-group">
                <div class="aui-item">
                  $i18n.getText('jtrp.tutorial.tab.text.3')
                </div>
                <div class="aui-item tabImage tab3-img">
                </div>
              </div>
            </div>
            <div class="tabs-pane" id="tutorialPage-4">
              <h2>$i18n.getText('jtrp.tutorial.tab.header.4')</h2>
              <div class="aui-group">
                <div class="aui-item">
                  $i18n.getText('jtrp.tutorial.tab.text.4')
                 </div>
                 <div class="aui-item tabImage tab4-img">
                 </div>
               </div>
            </div>
            <div class="tabs-pane" id="tutorialPage-5">
              <h2>$i18n.getText('jtrp.tutorial.tab.header.5')</h2>
              <div class="aui-group">
                <div class="aui-item">
                  $i18n.getText('jtrp.tutorial.tab.text.5')
                 </div>
                 <div class="aui-item tabImage tab5-img">
                 </div>
               </div>
            </div>
        </div>
      </div>
      <!-- Dialog footer -->
      <footer class="aui-dialog2-footer">
        <form name="reportingForm" id="reportingForm" method="get" onsubmit="return everit.reporting.main.tutorialDialogHide();" action="ReportingWebAction.jspa" class="aui"/>
          <!-- Actions to render on the right of the footer -->
          <div class="aui-dialog2-footer-actions" style="margin-right: 15px;">
            <button class="aui-button" type="button" id='reporting-tutorial-prev' onclick="everit.reporting.main.prevTutorialPage();">Prev</button >
            <button class="aui-button" type="button" id='reporting-tutorial-next' onclick="everit.reporting.main.nextTutorialPage()">Next</button >
            <button id="reporting-tutorial-button" type="submit" name="reporting-tutorial-button" class="aui-button-primary aui-button">$i18n.getText('jtrp.tutorial.close')</button>
          </div>
          <div class="aui-dialog2-footer-hint">
            <input type="checkbox" value="tutorial_dns" name="tutorial_dns" id="tutorial_dns"><label for="tutorial_dns">$i18n.getText('jtrp.tutorial.dns.label')</label>
          </div>
        </form>
      </footer>
</section>
