#*
 * Copyright (C) 2011 Everit Kft. (http://www.everit.org)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
<html>
<head>
<title>Table Report</title>
</head>
$webResourceManager.requireResource("jira.webresources:global-static")
$webResourceManager.requireResource("jira.webresources:calendar")
$webResourceManager.requireResource("jira.webresources:calendar-en")
$webResourceManager.requireResource("jira.webresources:dwr", null)   
$webResourceManager.requireResource("jira.webresources:ajax-preview", null)
$webResourceManager.requireResourcesForContext("org.everit.jira.timetracker.plugin.table_report-resources")
<body>
#set($rendererType = "atlassian-wiki-renderer")
  #if($currentCalendar.useISO8601 == true)
    #set ($firstDay = 1)
  #else
    #set ($firstDay = 0)
  #end
  
<script type="text/javascript">
  window.everit = window.everit || {};
  everit.jttp = everit.jttp || {};
  everit.jttp.report_common_scripts = everit.jttp.report_common_scripts || {};

  (function(jttp, jQuery) {
    jttp.options = jQuery.extend( 
      {},
      jttp.options,
      {
        firstDay : ${firstDay},
        useISO8601 : ${currentCalendar.useISO8601},
        hasBrowseUsersPermission: ${hasBrowseUsersPermission},
        dateFromFormated : ${dateFromFormated},
        dateToFormated : ${dateToFormated},
        dateFormat: "${dateFormat}"
      }
    );
  })(everit.jttp.report_common_scripts, AJS.$);
</script>
    #parse("templates/common/updatenotifier.vm")
  <header class="aui-page-header">
    <div class="aui-page-header-inner">
      <div class="aui-page-header-image">
         <span class="aui-avatar aui-avatar-large">
           <span class="aui-avatar-inner">
             <a href="http://www.everit.biz/index.php?nyelv=en" target="_blank">
               <img class="everit_logo" alt="Everit reporting logo">
             </a>
           </span>
         </span>
      </div>
      <div class="aui-page-header-main">
        <h1>
          <span>Table Report</span>
          <a href="#reporting_menu" aria-owns="reporting_menu" aria-haspopup="true" class="aui-button aui-button-link aui-style-default aui-dropdown2-trigger">$i18n.getText("jtrp.select.report")</a>
          <div id="reporting_menu" class="aui-style-default aui-dropdown2" style="top: 150px">
            <ul class="aui-list-truncate">
              <li><a href="ReportingWebAction!default.jspa">Reporting</a></li>
              <li><a href="JiraTimetrackerWorklogsWebAction!default.jspa">Missing Days Report</a></li>
              <li><a href="JiraTimetrackerChartWebAction!default.jspa">Chart Report</a></li>
            </ul>
          </div>
        </h1>
        </div>
     </div>
  </header>
  <div class="table-report-search-criteria-container">
    <div id="error_message"  #if($message.isEmpty()) style="display:none;" #end>
      <label id="error_message_label" #if($message.isEmpty()) style="display:none;" #end>$i18n.getText($message)</label>
      <label id="error_message_label_df" style="display:none;">$i18n.getText('plugin.invalid_startTime')</label>
      <label id="error_message_label_dt" style="display:none;">$i18n.getText('plugin.invalid_endTime')</label>
    </div>
    <form name="dummyForm" class="aui top-label reporting-form" method="get" onsubmit="return false;">
      <div class="form-body">
        <div class="aui-group">
          <div class="aui-item search-wrap">
            <div class="date-search-container">
              <div class="search-criteria-container">
                <div class="search-criteria">
                  <div class="from-date inline-calendar">
                    <input class="text medium-field datepicker-input" placeholder="From" onkeydown="return everit.jttp.report_common_scripts.checkEnter(event);" id="dateFrom" name="dateFrom" tabindex="1">
                    <a href="#" title="Select a date">
                      <span id="date_trigger_from" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                    </a>
                  </div>
                  <div class="to-date inline-calendar">
                    <input class="text medium-field datepicker-input" placeholder="To" onkeydown="return everit.jttp.report_common_scripts.checkToEnter(event);" id="dateTo" name="dateTo" tabindex="2">
                    <a href="#" title="Select a date">
                      <span id="date_trigger_to" class="aui-icon aui-icon-small aui-iconfont-calendar">Select a date</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="aui-group">
          <div class="aui-item search-wrap">
            <div class="user-search-container">
              <div class="search-criteria-container">
                <div class="search-criteria">
                  <div class="from-date inline-calendar">
                    <select  id="userPicker" class="js-default-user-picker single-user-picker" name="userPicker">
                      #if($userPickerObject)
                      <option selected="selected" 
                        value="$userPickerObject.getUsername()"
                        data-field-text="$userPickerObject.getDisplayName()"
                        style="background-image:url('$avatarURL')" >
                        $userPickerObject.getDisplayName()
                      </option>
                      #end
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <form name="tableReportForm" method="get" action="JiraTimetrackerTableWebAction.jspa"  onsubmit="return everit.jttp.report_common_scripts.beforeSubmitReport()"/>
      <input type="hidden" id="dateFromMil" name="dateFromMil">
      <input type="hidden" id="dateToMil" name="dateToMil">
      <input type="hidden" id="selectedUser" name="selectedUser">
      <div class="aui-group">
        <div class="aui-item">
          <button id="search" tabindex="3" class="aui-button aui-button-primary"  onclick="return everit.jttp.report_common_scripts.jttpSearchOnClick('Table');">$i18n.getText('plugin.search')</button> <!-- Submit the search form -->
        </div>
      </div>
    </form>
  </div>
  
  #parse("templates/reporting/table_report_list.vm")

  <!-- Issue Collector script -->
  <script type="text/javascript" src="$issueCollectorSrc"></script>

  #if($analyticsDTO.analyticsCheck)
    #parse("templates/common/analytics.vm")
  #end
</body>
</html>
